<section data-view="cloudStorage">
	<div class="row-body">
		<div class="panel-left" data-click="select-user">

			<legend>Current User</legend>
			<div class="user active">
				<span class="avatar" style="background-image: url(/res/img/hbi.jpg);"></span>
				<span class="name">Hakan Bilgin</span>
				<span class="role">Admin</span>
			</div>

			<legend>Other Users</legend>
			<div class="user">
				<span class="avatar" style="background-image: url(/res/img/sarienn.jpg);"></span>
				<span class="name">Laura Bularca</span>
				<span class="role">User</span>
			</div>

			<div class="user">
				<span class="avatar"></span>
				<span class="name">Okan Bilgin</span>
				<span class="role">User</span>
			</div>
			
			<div class="login-options">
				<i class="icon-house"></i>
				<span>Login Options</span>
			</div>

		</div>
		<div class="panel-right">
			test
		</div>
	</div>
	
	<div class="row-foot">
		<div class="unlock-to-edit" data-click="toggle-view-lock">
			<i class="icon-padlock"></i>
			<span class="locked">Click the lock to make changes.</span>
			<span class="unlocked">Click the lock to prevent further changes.</span>
			<span class="authenticating">Authenticating&hellip;</span>
		</div>
	</div>
</section>
