<section data-view="cloudStorage">
	<div class="row-body">
		<div class="panel-left" data-click="select-storage">

			<legend>Defiant Storage</legend>
			<div class="storage active">
				<i class="icon-storage"></i>
				<span class="name">Default</span>
				<span class="size">1 GB</span>
			</div>

			<legend>External Storage</legend>
			<div class="storage">
				<i class="icon-google-drive"></i>
				<span class="name">Google Drive</span>
				<span class="size">15 GB</span>
			</div>

			<div class="storage">
				<i class="icon-dropbox"></i>
				<span class="name">Dropbox</span>
				<span class="size">2 GB</span>
			</div>

			<div class="storage">
				<i class="icon-one-drive"></i>
				<span class="name">OneDrive</span>
				<span class="size">5 GB</span>
			</div>
			
			<div class="storage-options">
				<div class="option-button" data-click="add-storage">
					<i class="icon-plus"></i>
				</div>
				<div class="option-button" data-click="remove-storage">
					<i class="icon-minus"></i>
				</div>
			</div>

		</div>
		<div class="panel-right">
			<div class="tab-view_" sys-click="do-tab-row">
				<div class="tab-body_">
					<div class="tab-active_">

						<div class="row-group_">
							<div class="row-cell_">
								<div>Status:</div>
								<div>
									<b>Connected</b>
								</div>
							</div>
						</div>

						<hr/>

						<div class="row-group_">
							<div class="row-cell_">
								<div>Storage:</div>
								<div style="width: 200px;">
									<selectbox>
										<option value="google-drive" selected="true">Google Drive</option>
										<option value="dropbox">Dropbox</option>
										<option value="onedrive">OneDrive</option>
									</selectbox>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-foot">
		<div class="unlock-to-edit" data-click="toggle-view-lock">
			<i class="icon-padlock"></i>
			<span class="locked">Click the lock to make changes.</span>
			<span class="unlocked">Click the lock to prevent further changes.</span>
			<span class="authenticating">Authenticating&hellip;</span>
		</div>
	</div>
</section>
