<section data-view="Date & Time">
	<div class="tab-view_" sys-click="do-tab-row">
		<div class="tab-row_">
			<div class="tab-active_">Date & Time</div>
			<div>Time Zone</div>
			<div>Clock</div>
		</div>
		<div class="tab-body_">
			<!-- Date & Time -->
			<div class="tab-active_">
				Date & Time
			</div>

			<!-- Time Zone -->
			<div>
				<p>
					To select a time zone, click the map near your location and choose a city from the Closest City menu.
					You can  also have the time zone change automatically, if possible, based on your current location.
				</p>
				@import "../svg/worldmap.svg"
			</div>

			<!-- Clock -->
			<div>Clock</div>
		</div>
	</div>
</section>