<section data-view="dateTime">
	<div class="row-body">
		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div class="tab-active_">Date & Time</div>
				<div>Time Zone</div>
				<div>Clock</div>
			</div>
			<div class="tab-body_">
				<!-- Date & Time -->
				<div class="date-time-options tab-active_">

					<div class="date-diff-options">
						<span class="icon-revert" data-click="datetime-revert-diff"></span>
						<span class="icon-apply" data-click="datetime-apply-diff"></span>
					</div>

					<div class="date-settings">
						<div class="date-sample">
							<div class="wrapper disabled_" data-click="select-date-section">
								<span class="year"></span>
								<span class="seperator"></span>
								<span class="month"></span>
								<span class="seperator"></span>
								<span class="date"></span>
							</div>
							<div class="inc-arrows_ disabled_" data-click="increment-date"><i data-add="1"></i><i data-add="-1"></i></div>
						</div>
						<div class="calendar disabled_">
							<div class="reel">
								<!-- mini calendar html goes here -->
							</div>
						</div>
					</div>

					<div class="time-settings">
						<div class="time-sample">
							<div class="wrapper disabled_" data-click="select-date-section">
								<span class="hours"></span>
								<span class="seperator"></span>
								<span class="minutes"></span>
								<span class="seperator"></span>
								<span class="seconds"></span>
							</div>
							<div class="inc-arrows_" data-click="increment-time"><i data-add="1"></i><i data-add="-1"></i></div>
						</div>
						<div class="clock disabled_" data-a="1">
							@import "../../svg/clock.svg"
						</div>
					</div>
					
					<div class="row-group_ disabled_" data-click="toggle-manual-date-time">
						<div class="center">
							<span class="form-checkbox_"><input type="checkbox" disabled id="set-automatically" checked/><i></i></span>
							<label for="set-automatically">Set date &amp; time automatically</label>
						</div>
					</div>

					<p>
						To set date and time formats, use <span class="link" data-click="go-to-language">Language &amp; Region</span> preferences
					</p>

				</div>

				<!-- Time Zone -->
				<div class="time-zone-options">
					<p>
						To select a time zone, click the map near your location.
					</p>

					<div class="worldmap-land" data-click="select-time-zone">
						@import "../../svg/worldmap-land.svg"
						@import "../../svg/worldmap-timezones.svg"
					</div>

					<div class="selected-timezone">
						<span class="field-name">Time Zone:</span>
						<span class="timezone-name">Central European Time</span>
						<span class="timezone-utc">+02:00</span>
					</div>
				</div>

				<!-- Clock -->
				<div class="clock-options">

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend>Menu bar visibility:</legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-date-time" checked/><i></i></span>
								<label for="show-date-time">Show date and time in menu bar</label>
							</div>
						</div>
					</div>

					<hr class="space" />

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend>Date options</legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-weekday" checked/><i></i></span>
								<label for="show-weekday">Show the day of the week</label>
							</div>
						</div>
					</div>

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-date" checked/><i></i></span>
								<label for="show-date">Show date</label>
							</div>
						</div>
					</div>

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-time" checked/><i></i></span>
								<label for="show-time">Show time</label>
							</div>
						</div>
					</div>

					<hr class="space" />

					<div class="row-group_" data-click="toggle-menubar-clock">
						<legend>Time options:</legend>
						<div>
							<div class="row">
								<div class="cell flat">
									<span class="form-radio_"><input type="radio" name="time-option" id="time-option-digital" checked/><i></i></span>
									<label for="time-option-digital">Digital</label>
								</div>
								<div class="cell flat">
									<span class="form-radio_"><input type="radio" name="time-option" id="time-option-analogue"/><i></i></span>
									<label for="time-option-analogue">Analogue</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="use-24-hour" checked/><i></i></span>
								<label for="use-24-hour">Use a 24-hour clock</label>
							</div>
						</div>
					</div>

					<div class="row-group_" data-click="toggle-menubar-date-time">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-am-pm" disabled/><i></i></span>
								<label for="show-am-pm">Show am/pm</label>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row-foot">
		<div class="unlock-to-edit" data-click="toggle-view-lock">
			<i class="icon-padlock"></i>
			<span class="locked">Click the lock to make changes.</span>
			<span class="unlocked">Click the lock to prevent further changes.</span>
			<span class="authenticating">Authenticating&hellip;</span>
		</div>
	</div>
</section>