<section data-view="dateTime">
	<div class="row-body">
		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div class="tab-active_">Date & Time</div>
				<div>Time Zone</div>
				<div>Clock</div>
			</div>
			<div class="tab-body_">
				<!-- Date & Time -->
				<div class="date-time-options tab-active_">
					
					<div class="date-settings">
						<div class="date-sample">
							<div class="wrapper active">
								<span class="year selected">2020</span>
								<span class="seperator"></span>
								<span class="month">05</span>
								<span class="seperator"></span>
								<span class="date">27</span>
							</div>
						</div>
						<div class="calendar">
							<div class="calendar-head">
								<span class="calendar-left"></span>
								<span class="calendar-month">April 2020</span>
								<span class="calendar-right"></span>
							</div>
							<div class="weekdays">
								<span>Mo</span>
								<span>Tu</span>
								<span>We</span>
								<span>Th</span>
								<span>Fr</span>
								<span>Sa</span>
								<span>Su</span>
							</div>
							<div class="month">
								<span class="pm-day">30</span><span class="pm-day">31</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
								<span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span>
								<span>13</span><span>14</span><span>15</span><span>16</span><span class="active">17</span><span>18</span><span>19</span>
								<span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span>
								<span>27</span><span>28</span><span>29</span><span>30</span><span class="nm-day">1</span><span class="nm-day">2</span><span class="nm-day">3</span>
								<span class="nm-day">4</span><span class="nm-day">5</span><span class="nm-day">6</span><span class="nm-day">7</span><span class="nm-day">8</span><span class="nm-day">9</span><span class="nm-day">10</span>
							</div>
						</div>
					</div>

					<div class="time-settings">
						<div class="time-sample">
							<div class="wrapper">
								<span class="hours">21</span>
								<span class="seperator"></span>
								<span class="minutes">47</span>
								<span class="seperator"></span>
								<span class="seconds">47</span>
							</div>
						</div>
						<div class="clock">
							<svg><use xlink:href="#clock"></use></svg>
						</div>
					</div>

					<p>
						To set date and time formats, use <span class="link" data-click="go-to-language">Language &amp; Region</span> preferences
					</p>

				</div>

				<!-- Time Zone -->
				<div class="time-zone-options">
					<p>
						To select a time zone, click the map near your location.
					</p>

					@import "../../svg/worldmap.svg"

					<div class="selected-timezone">
						<span class="field-name">Time Zone:</span>
						<span class="timezone-name">Central European Time</span>
						<span class="timezone-utc">+02:00</span>
					</div>
				</div>

				<!-- Clock -->
				<div class="clock-options">

					<div class="row-group_">
						<legend>Menu bar visibility:</legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="show-date-time" checked/><i></i></span>
								<label for="show-date-time">Show date and time in menu bar</label>
							</div>
						</div>
					</div>

					<hr class="space" />

					<div class="row-group_">
						<legend>Time options:</legend>
						<div>
							<div class="row" data-click="select-dock-position">
								<div class="cell flat">
									<span class="form-radio"><input type="radio" name="time-option" id="time-option-digital" checked/><i></i></span>
									<label for="time-option-digital">Digital</label>
								</div>
								<div class="cell flat">
									<span class="form-radio"><input type="radio" name="time-option" id="time-option-analogue"/><i></i></span>
									<label for="time-option-analogue">Analogue</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row-group_">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="use-24-hour" checked/><i></i></span>
								<label for="use-24-hour">Use a 24-hour clock</label>
							</div>
						</div>
					</div>

					<div class="row-group_">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="use-24-hour"/><i></i></span>
								<label for="use-24-hour">Display the time with seconds</label>
							</div>
						</div>
					</div>

					<div class="row-group_">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_ disabled_"><input type="checkbox" id="use-24-hour" disabled/><i></i></span>
								<label for="use-24-hour">Show am/pm</label>
							</div>
						</div>
					</div>

					<hr class="space" />

					<div class="row-group_">
						<legend>Date options</legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="use-24-hour" checked/><i></i></span>
								<label for="use-24-hour">Show the day of the week</label>
							</div>
						</div>
					</div>

					<div class="row-group_">
						<legend></legend>
						<div>
							<div class="row">
								<span class="form-checkbox_"><input type="checkbox" id="use-24-hour" checked/><i></i></span>
								<label for="use-24-hour">Show date</label>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row-foot">
		<div class="unlock-to-edit" data-click="unlock-view">
			<i class="icon-padlock"></i>
			<span class="locked">Click the lock to make changes.</span>
			<span class="unlocked">Click the lock to prevent further changes.</span>
		</div>
	</div>
</section>