<section data-view="dock">

	<div class="row-group_">
		<legend>Position on screen:</legend>
		<div>
			<div class="row" data-click="select-dock-position">
				<div class="cell">
					<span class="form-radio_"><input type="radio" name="dock" id="dock-left"/><i></i></span>
					<label for="dock-left">Left</label>
				</div>
				<div class="cell">
					<span class="form-radio_"><input type="radio" name="dock" id="dock-bottom" checked/><i></i></span>
					<label for="dock-bottom">Bottom</label>
				</div>
				<div class="cell">
					<span class="form-radio_"><input type="radio" name="dock" id="dock-right"/><i></i></span>
					<label for="dock-right">Right</label>
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row-group_">
		<legend>Size</legend>
		<div style="max-width: 220px;" data-scale-left="Small" data-scale-right="Large">
			<input type="range" value="50" min="0" max="100" data-change="icon-size">
		</div>
	</div>

	<hr/>

	<div class="row-group_">
		<legend></legend>
		<div data-click="toggle-values">
			<div class="row">
				<span class="form-checkbox_"><input type="checkbox" id="toggle-dock"/><i></i></span>
				<label for="toggle-dock">Automatically hide and show the Dock</label>
			</div>
			<div class="row">
				<span class="form-checkbox_"><input type="checkbox" id="toggle-app-indicators"/><i></i></span>
				<label for="toggle-app-indicators">Show indicators for open applications</label>
			</div>
			<div class="row">
				<span class="form-checkbox_"><input type="checkbox" id="toggle-magnification"/><i></i></span>
				<label for="toggle-magnification">Magnification</label>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row-group_ disabled_" data-row="magnification">
		<legend>Magnification</legend>
		<div style="max-width: 220px;" data-scale-left="Small" data-scale-right="Large">
			<input type="range" disabled value="30" min="0" max="100" id="magnification-size" data-change="magnification-size">
		</div>
	</div>

</section>