<section data-view="general">
	<div class="row-body">
		<div class="panel-left" data-click="select-user">

			<div class="option active">
				<span class="name">Defiant</span>
				<span class="info">System &mdash; Active</span>
			</div>
			<!---->
			<div class="option">
				<span class="name">Waves</span>
				<span class="info">Theme info</span>
			</div>

			<div class="option">
				<span class="name">Glass</span>
				<span class="info">Theme info</span>
			</div>

			<div class="option">
				<span class="name">Redmond</span>
				<span class="info">Theme info</span>
			</div>

			<div class="option">
				<span class="name">Nostalgia</span>
				<span class="info">Theme info</span>
			</div>
			
		</div>
		<div class="panel-right">
			<div class="tab-view_" sys-click="do-tab-row">
				<div class="tab-body_">
					<div class="tab-active_">

						<div class="row-group_">
							<legend>Appearance:</legend>
							<div data-click="select-ui-theme">
								<div class="theme-preview active" data-name="Light" data-arg="defiant-light">
									<div style="background-image: url(~/img/theme-light.jpg);"></div>
								</div>
								<div class="theme-preview" data-name="Dark" data-arg="defiant-dark">
									<div style="background-image: url(~/img/theme-dark.jpg);"></div>
								</div>
								<div class="theme-preview" data-name="Olive" data-arg="defiant-olive">
									<div style="background-image: url(~/img/theme-olive.jpg);"></div>
								</div>
							</div>
						</div>

						<div class="row-group_">
							<legend>Accent color:</legend>
							<div data-click="select-accent-icon-color">
								<div class="color-select_ active" data-color="#157efb" style="background: #157efb;"></div>
								<div class="color-select_" data-color="#944194" style="background: #944194;"></div>
								<div class="color-select_" data-color="#f5539e" style="background: #f5539e;"></div>
								<div class="color-select_" data-color="#de3a43" style="background: #de3a43;"></div>
								<div class="color-select_" data-color="#f5822e" style="background: #f5822e;"></div>
								<div class="color-select_" data-color="#fab73b" style="background: #fab73b;"></div>
								<div class="color-select_" data-color="#65b84d" style="background: #65b84d;"></div>
								<div class="color-select_" data-color="#989898" style="background: #989898;"></div>
							</div>
						</div>

						<hr class="space"/>

						<div class="row-group_">
							<legend></legend>
							<div>
								<div class="row" data-click="toggle-checkbox-value">
									<span class="form-checkbox_"><input type="checkbox" id="menubar-toggle"/><i></i></span>
									<label for="menubar-toggle">Automatically hide and show the menubar</label>
								</div>
							</div>
						</div>

						<!--
						<div class="row-group_">
							<legend></legend>
							<div>
								<div class="row" data-click="toggle-checkbox-value">
									<span class="form-checkbox_"><input type="checkbox" id="window-close-toggle"/><i></i></span>
									<label for="close-win-on-quit">Close windows when quitting an app</label>
								</div>
							</div>
						</div>
						-->
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>