<section data-view="notifications">
	<div class="row-head">
		Notification Centre shows you alerts in the upper-right corner of your screen, without interrupting what you are doing. Show and hide Notification Centre by clicking its icon in the menubar.
	</div>

	<div class="tab-view_">
		<div class="tab-row_">
			<div class="tab-active_">Applications</div>
			<div>Friends</div>
		</div>
		<div class="tab-body_">
			<div class="tab-active_">

				<div class="panel-left" data-click="select-user">
					<div class="option active">
						<span class="icon"></span>
						<span class="name">Finder</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
					<div class="option">
						<span class="icon"></span>
						<span class="name">GarageBand</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
					<div class="option">
						<span class="icon"></span>
						<span class="name">Google Chrome</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
				</div>

				<div class="panel-right">
					
				</div>

			</div>

			<div>

				<div class="panel-left" data-click="select-user">
					<div class="option active">
						<span class="avatar"></span>
						<span class="name">Hakan Bilgin</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
					<div class="option">
						<span class="avatar"></span>
						<span class="name">Laura Bularca</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
					<div class="option">
						<span class="avatar"></span>
						<span class="name">Okan Bilgin</span>
						<span class="info">Badges, Sounds, Banners</span>
					</div>
				</div>

				<div class="panel-right">
					
				</div>

			</div>
		</div>
	</div>
	<div class="row-foot">
		
	</div>
</section>
