<section data-view="usersGroups">
	<div class="row-body">
		<div class="panel-left" data-click="select-user">

			<legend>Current User</legend>
			<div class="user active">
				<span class="avatar" style="background-image: url(/res/img/hbi.jpg);"></span>
				<span class="name">Hakan Bilgin</span>
				<span class="role">Admin</span>
			</div>

			<legend>Other Users</legend>
			<div class="user">
				<span class="avatar" style="background-image: url(/res/img/sarienn.jpg);"></span>
				<span class="name">Laura Bularca</span>
				<span class="role">User</span>
			</div>

			<div class="user">
				<span class="avatar"></span>
				<span class="name">Okan Bilgin</span>
				<span class="role">User</span>
			</div>
			
			<div class="login-options">
				<i class="icon-house"></i>
				<span>Login Options</span>
			</div>

		</div>
		<div class="panel-right">
			<div class="tab-view_" sys-click="do-tab-row">
				<div class="tab-body_">
					<div class="tab-active_ show-user-options">

						<div class="user-options">
							<div class="user">
								<div class="avatar disabled_" style="background-image: url(/res/img/hbi.jpg);" data-hover="edit" data-click="edit-user-photo"></div>
								<div class="name">Hakan Bilgin</div>
								<div class="button">
									<button disabled>Change Password&hellip;</button>
								</div>
							</div>

							<hr/>

							<p>
								<i class="icon-info"></i>
								You can set your profile photo by clicking the round area above. This photo will be used by various applications representing your persona for your friends.
							</p>
						</div>
						
						<div class="login-options">
							<div class="row-group_">
								<div class="row-cell_ legend-select">
									<div>Automatic Login:</div>
									<div style="width: 200px;">
										<selectbox disabled data-change="auto-login-option">
											<option value="off" selected="true">Off</option>
											<option value="hbi">Hakan Bilgin</option>
											<option value="sarienn">Laura Bularca</option>
										</selectbox>
									</div>
								</div>
							</div>

							<hr/>

							<div class="row-group_">
								<div class="row-cell_">
									<div class="row">
										<span class="form-checkbox_ disabled_"><input type="checkbox" id="trust-computer" data-click="remember-me" disabled checked/><i></i></span>
										<label for="trust-computer">Remember user on this computer</label>
									</div>
									<div class="row">
										<span class="form-checkbox_ disabled_"><input type="checkbox" id="show-create" data-click="option-create" disabled checked/><i></i></span>
										<label for="show-create">Show option to create account</label>
									</div>
									<div class="row">
										<span class="form-checkbox_ disabled_"><input type="checkbox" id="allow-other-login" data-click="option-other-login" disabled checked/><i></i></span>
										<label for="allow-other-login">Allow other users to login to this computer</label>
									</div>
									<div class="row">
										<span class="form-checkbox_ disabled_"><input type="checkbox" id="show-fullname" data-click="show-full-name" disabled checked/><i></i></span>
										<label for="show-fullname">Show full name</label>
									</div>
								</div>
							</div>

							<hr/>

							<p>
								<i class="icon-warning"></i>
								Changes you make here can be unlocked in the login view - this is to prevent locking Defiant login view on public computers. These options are primarily customisation for your personal computer and streamline login view for you.
							</p>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-foot">
		<div class="unlock-to-edit" data-click="toggle-view-lock">
			<i class="icon-padlock"></i>
			<span class="locked">Click the lock to make changes.</span>
			<span class="unlocked">Click the lock to prevent further changes.</span>
			<span class="authenticating">Authenticating&hellip;</span>
		</div>
	</div>
</section>
