<content>
	<section class="active" data-view="main" data-click="select-section">
		<!-- General Settings -->
		<div>
			<div class="section" data-id="general">
				<div class="icon" style="background-image: url(~/icons/icon-general.png);"></div>
				<div class="name">General</div>
			</div>
			<div class="section" data-id="desktop">
				<div class="icon" style="background-image: url(~/icons/icon-desktop.png);"></div>
				<div class="name">Desktop</div>
			</div>
			<div class="section" data-id="dock">
				<div class="icon" style="background-image: url(~/icons/icon-dock.png);"></div>
				<div class="name">Dock</div>
			</div>
			<div class="section" data-id="screenSaver">
				<div class="icon" style="background-image: url(~/icons/icon-screensaver.png);"></div>
				<div class="name">Screen Saver</div>
			</div>
			<div class="section" data-id="language">
				<div class="icon" style="background-image: url(~/icons/icon-flag.png);"></div>
				<div class="name">Language & Region</div>
			</div>
			<div class="section" data-id="spotlight">
				<div class="icon" style="background-image: url(~/icons/icon-spotlight.png);"></div>
				<div class="name">Spotlight</div>
			</div>
			<div class="section" data-id="notifications">
				<div class="icon" style="background-image: url(~/icons/icon-notifications.png);"></div>
				<div class="name">Notifications</div>
			</div>
		</div>

		<!-- Hardware Settings -->
		<div>
			<div class="section" data-id="displays">
				<div class="icon" style="background-image: url(~/icons/icon-display.png);"></div>
				<div class="name">Displays</div>
			</div>
			<div class="section" data-id="keyboard">
				<div class="icon" style="background-image: url(~/icons/icon-keyboard.png);"></div>
				<div class="name">Keyboard</div>
			</div>
			<div class="section" data-id="mouse">
				<div class="icon" style="background-image: url(~/icons/icon-mouse.png);"></div>
				<div class="name">Mouse</div>
			</div>
			<div class="section" data-id="sound">
				<div class="icon" style="background-image: url(~/icons/icon-speaker.png);"></div>
				<div class="name">Sound</div>
			</div>
		</div>

		<!-- Integration Settings -->
		<div>
			<div class="section" data-id="security">
				<div class="icon" style="background-image: url(~/icons/icon-security.png);"></div>
				<div class="name">Security & Privacy</div>
			</div>
			<div class="section" data-id="integrations">
				<div class="icon" style="background-image: url(~/icons/icon-apis.png);"></div>
				<div class="name">Integrations</div>
			</div>
			<div class="section" data-id="updates">
				<div class="icon" style="background-image: url(~/icons/icon-update.png);"></div>
				<div class="name">Software Update</div>
			</div>
			<div class="section" data-id="sharing">
				<div class="icon" style="background-image: url(~/icons/icon-sharing.png);"></div>
				<div class="name">Sharing</div>
			</div>
		</div>

		<!-- Account Settings -->
		<div>
			<div class="section" data-id="usersGroups">
				<div class="icon" style="background-image: url(~/icons/icon-users-groups.png);"></div>
				<div class="name">Users & Groups</div>
			</div>
			<div class="section" data-id="dateTime">
				<div class="icon" style="background-image: url(~/icons/icon-date-time.png);"></div>
				<div class="name">Date & Time</div>
			</div>
			<div class="section" data-id="accessibility">
				<div class="icon" style="background-image: url(~/icons/icon-accessibility.png);"></div>
				<div class="name">Accessibility</div>
			</div>
		</div>
	</section>

	<dialogs>
		<dialog name="unlock">
			<div class="row-group_">
				<i class="icon-padlock" style="background-image: url(~/icons/icon-padlock-open.png);"></i>
				<div>
					<h4>Password Required</h4>
					<p>
						In order to make changes in this view, you need to enter your password to unlock the fields.
					</p>
				</div>
			</div>
			<div class="row-group_">
				<div class="field-name_">Password:</div>
				<div class="field-row_">
					<div class="field_">
						<input type="password" data-name="user-password" spellcheck="false" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="dialog-foot_">
				<button data-click="dialog-unlock-cancel">Cancel</button>
				<button data-click="dialog-unlock-check" class="primary">Unlock</button>
			</div>
		</dialog>

		<dialog name="profile-picture">
			<div class="dialog-body-wrapper_">
				<div class="panel-left">
					<div class="dialog-list">
						<div class="active">
							<b>Animals</b>
							<span>Eagle, Owl, Parrot&hellip;</span>
						</div>
						<div>
							<b>Flowers</b>
							<span>Dahlia, Lotus&hellip;</span>
						</div>
						<div>
							<b>Fun</b>
							<span>Chalk, Medal&hellip;</span>
						</div>
						<div>
							<b>Instruments</b>
							<span>Drum, Guitar, Piano&hellip;</span>
						</div>
						<div>
							<b>Nature</b>
							<span>Earth, Snowflake&hellip;</span>
						</div>
						<div>
							<b>Sports</b>
							<span>Tennis, Soccer&hellip;</span>
						</div>
						<div class="space"></div>
						<div class="option">
							<i class="icon-camera"></i>
							<b>Camera</b>
							<span>Take photo&hellip;</span>
						</div>
						<div class="option">
							<i class="icon-image"></i>
							<b>Custom</b>
							<span>Choose photo&hellip;</span>
						</div>
					</div>
				</div>
				<div class="panel-right">
					<div class="dialog-thumbnails">
						<div style="background-image: url(/cdn/img/profile/animals/eagle.jpg?w=90&h=90);"></div>
						<div style="background-image: url(/cdn/img/profile/animals/owl.jpg?w=90&h=90);" class="active"></div>
						<div style="background-image: url(/cdn/img/profile/animals/parrot.jpg?w=90&h=90);"></div>
						<div style="background-image: url(/cdn/img/profile/animals/penguin.jpg?w=90&h=90);"></div>
						<div style="background-image: url(/cdn/img/profile/animals/zebra.jpg?w=90&h=90);"></div>
					</div>
					<div class="dialog-preview">
						<span class="close" data-click="go-to-thumbnails"></span>
						<span class="zoom">
							<span class="bar"></span>
							<span class="minus"></span>
							<span class="plus"></span>
							<span class="knob"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="dialog-foot_">
				<button data-click="dialog-profile-cancel">Cancel</button>
				<button data-click="dialog-profile-save" class="primary">Save</button>
			</div>
		</dialog>
	</dialogs>

	@import "sections/accessibility.htm"
	@import "sections/dateTime.htm"
	@import "sections/desktop.htm"
	@import "sections/displays.htm"
	@import "sections/dock.htm"
	@import "sections/general.htm"
	@import "sections/integrations.htm"
	@import "sections/keyboard.htm"
	@import "sections/language.htm"
	@import "sections/mouse.htm"
	@import "sections/notifications.htm"
	@import "sections/screensaver.htm"
	@import "sections/security.htm"
	@import "sections/sharing.htm"
	@import "sections/sound.htm"
	@import "sections/spotlight.htm"
	@import "sections/updates.htm"
	@import "sections/usersGroups.htm"
	
</content>
