<content>
	<section class="active" data-view="main" data-click="select-section">
		<!-- General Settings -->
		<div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-general.png);"></div>
				<div class="name">General</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-desktop.png);"></div>
				<div class="name">Desktop</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-screensaver.png);"></div>
				<div class="name">Screen Saver</div>
			</div>
			<!--
			<div class="section">
				<div class="icon"></div>
				<div class="name">Mission Control</div>
			</div>
			-->
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-flag.png);"></div>
				<div class="name">Language & Region</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-spotlight.png);"></div>
				<div class="name">Spotlight</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-notifications.png);"></div>
				<div class="name">Notifications</div>
			</div>
		</div>

		<!-- Hardware Settings -->
		<div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-display.png);"></div>
				<div class="name">Displays</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-keyboard.png);"></div>
				<div class="name">Keyboard</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-mouse.png);"></div>
				<div class="name">Mouse</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-speaker.png);"></div>
				<div class="name">Sound</div>
			</div>
		</div>

		<!-- Integration Settings -->
		<div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-security.png);"></div>
				<div class="name">Security & Privacy</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-apis.png);"></div>
				<div class="name">Integrations</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-update.png);"></div>
				<div class="name">Software Updates</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-sharing.png);"></div>
				<div class="name">Sharing</div>
			</div>
		</div>

		<!-- Account Settings -->
		<div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-users-groups.png);"></div>
				<div class="name">Users & Groups</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-date-time.png);"></div>
				<div class="name">Date & Time</div>
			</div>
			<div class="section">
				<div class="icon" style="background-image: url(~/icons/icon-accessibility.png);"></div>
				<div class="name">Accessibility</div>
			</div>
		</div>
	</section>

	<section data-view="General">
		<div class="row-group_">
			<legend>Highlight color:</legend>
			<div style="max-width: 220px;">
				<selectbox data-change="set-highlight-color">
					<option value="blue" style="--icon-prefix: url(/ant/icons/generic-folder.png);">Blue</option>
					<option value="green" style="--icon-prefix: url(/ant/icons/generic-folder.png);">Green</option>
					<option value="red" style="--icon-prefix: url(/ant/icons/generic-folder.png);" selected="true">Red</option>
					<option value="orange" style="--icon-prefix: url(/ant/icons/generic-folder.png);">Orange</option>
				</selectbox>
			</div>
		</div>

		<div class="row-group_">
			<legend>Sidebar icon size:</legend>
			<div style="max-width: 220px;">
				<selectbox data-change="set-sidebar-icon-size">
					<option value="small">Small</option>
					<option value="medium" selected="true">Medium</option>
					<option value="large">Large</option>
				</selectbox>
			</div>
		</div>

		<hr/>

		<div class="row-group_">
			<legend>Show scroll bars:</legend>
			<div>
				<div class="row">
					<span class="form-radio"><input type="radio" name="preferences-scrollbars" id="preferences-scrollbars-1" checked/><i></i></span>
					<label for="preferences-scrollbars-1">Automatically based on mouse or trackpad</label>
				</div>
				<div class="row">
					<span class="form-radio"><input type="radio" name="preferences-scrollbars" id="preferences-scrollbars-2"/><i></i></span>
					<label for="preferences-scrollbars-2">When scrolling</label>
				</div>
				<div class="row">
					<span class="form-radio"><input type="radio" name="preferences-scrollbars" id="preferences-scrollbars-3"/><i></i></span>
					<label for="preferences-scrollbars-3">Always</label>
				</div>
			</div>
		</div>

		<div class="row-group_">
			<legend>Click in the scrollbar to:</legend>
			<div>
				<div class="row">
					<span class="form-radio"><input type="radio" name="preferences-click-scrollbar" id="preferences-click-scrollbars-1" checked/><i></i></span>
					<label for="preferences-click-scrollbars-1">Jump to the next page</label>
				</div>
				<div class="row">
					<span class="form-radio"><input type="radio" name="preferences-click-scrollbar" id="preferences-click-scrollbars-2"/><i></i></span>
					<label for="preferences-click-scrollbars-2">Jump to the spot that's clicked</label>
				</div>
			</div>
		</div>

		<hr/>

		<div class="row-group_">
			<legend></legend>
			<div>
				<div class="row">
					<span class="form-checkbox"><input type="checkbox" id="preferences-document-close" checked/><i></i></span>
					<label for="preferences-document-close">Ask to keep changes when closing documents</label>
				</div>
				<div class="row">
					<span class="form-checkbox"><input type="checkbox" id="preferences-window-close"/><i></i></span>
					<label for="preferences-window-close">Close windows when quiting an app</label>
				</div>
			</div>
		</div>

		<hr/>

		<div class="row-group_">
			<legend>Buttons</legend>
			<div class="nowrap">
				<button>Fit</button>
				<button disabled>Fit</button>
			</div>
		</div>

		<div class="row-group_">
			<legend>Mixed</legend>
			<div class="nowrap">
				<div class="field-wrapper">
					<div class="color-preset" style="--preset-color: #f90;"></div>
				</div>

				<div class="field-wrapper">
					<input type="number" value="20"/>
					<div>
						<span class="up"></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<hr/>

		<div class="row-group_">
			<legend>Slider</legend>
			<div style="max-width: 200px;">
				<input type="range" value="80" min="0" max="100">
			</div>
		</div>

	</section>

	<section data-view="Desktop">
		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div class="tab-active_">Wallpaper</div>
				<div>Icons</div>
				<div>Dock</div>
			</div>
			<div class="tab-body_">
				<!-- Wallpaper -->
				<div class="tab-active_">
					<div class="reel" data-click="select-workspace">
						<div class="workspace-wide active" data-id="ws-wide" data-name="Workspace #1-3">
							<div></div>
						</div>
						<div class="workspace active" data-id="ws-1" data-name="Workspace #1">
							<div></div>
						</div>
						<div class="workspace" data-id="ws-2" data-name="Workspace #2">
							<div></div>
						</div>
						<div class="workspace" data-id="ws-3" data-name="Workspace #3">
							<div></div>
						</div>
					</div>
					<div class="sample">
						<div class="tree" data-click="select-bg-folder"></div>
						<div class="list wide-wp" data-click="select-bg-item"></div>
					</div>
				</div>

				<!-- Icons -->
				<div>
					<div class="row-group_">
						<legend>Folder color:</legend>
						<div data-click="select-folder-icon-color">
							<div class="color-select active" style="background: #157efb;"></div>
							<div class="color-select" style="background: #944194;"></div>
							<div class="color-select" style="background: #f5539e;"></div>
							<div class="color-select" style="background: #de3a43;"></div>
							<div class="color-select" style="background: #f5822e;"></div>
							<div class="color-select" style="background: #fab73b;"></div>
							<div class="color-select" style="background: #65b84d;"></div>
							<div class="color-select" style="background: #989898;"></div>
						</div>
					</div>

					<hr/>

					<div class="row-group_">
						<legend>Icon size</legend>
						<div style="width: 170px;">
							<input type="range" value="35" min="0" max="100">
						</div>
					</div>

					<hr/>

					<div class="row-group_">
						<legend>Slider Steps 1-5</legend>
						<div style="width: 170px;">
							<input type="range" value="4" min="1" max="5" step="1">
						</div>
					</div>

					<hr/>

					<div class="row-group_">
						<legend>Range Slider</legend>
						<div style="width: 170px;">
							<input type="range">
						</div>
					</div>
				</div>

				<!-- Dock -->
				<div>Dock</div>
			</div>
		</div>
	</section>

	<section data-view="Date & Time">
		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div class="tab-active_">Date & Time</div>
				<div>Time Zone</div>
				<div>Clock</div>
			</div>
			<div class="tab-body_">
				<!-- Date & Time -->
				<div class="tab-active_">
					Date & Time
				</div>

				<!-- Time Zone -->
				<div>
					<p>
						To select a time zone, click the map near your location and choose a city from the Closest City menu.
						You can  also have the time zone change automatically, if possible, based on your current location.
					</p>
					@import "../svg/worldmap.svg"
				</div>

				<!-- Clock -->
				<div>Clock</div>
			</div>
		</div>
	</section>
</content>
