
// for dark theme
@import "theme-dark";


background-image: linear-gradient(to bottom, rgba(0,0,0,.02), rgba(0,0,0,.07));
// background-image: linear-gradient(to bottom, #ececec, #e0dfe4);
transition: all 200ms;

content {
	user-select: none;
	color: var( --content-fg );


	[class*="icon-"],
	[class^="icon-"] {
		background-size: contain;
		
		&.icon-info    { background-image: url(~/icons/icon-info.png); }
		&.icon-warning { background-image: url(~/icons/icon-warning.png); }
		&.icon-help    { background-image: url(~/icons/icon-help.png); }
	}

	.link         {
		color: #1067de;
		cursor: pointer;
	}

	.nowrap {
		white-space: nowrap;

		button {
			width: 70px;
		}
	}

	.field-wrapper {
		width: 70px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 3px;
	}

	.row-group_ {
		width: 442px;
		min-height: 31px;
		margin: 0 auto;

		> div {
			> div {
				input,
				selectbox {
					position: relative;
					top: -1px;
				}
			}
		}

		.cell {
			display: inline-block;
			text-align: center;
			min-width: 53px;

			label {
				display: block;
			}

			&.flat {
				label {
					display: inline-block;
					padding-right: 37px;
				}
			}
		}
	}

	section {
		position: absolute;
		top: 0;
		left: 0;
		width: 579px;
		height: 420px;
		padding: 13px 13px;
		opacity: 0;
		visibility: hidden;
		transition: opacity, 200ms;

		&.active {
			position: static;
			opacity: 1;
			visibility: visible;
		}

		&[data-view="main"] {
			padding: 0;
			width: 579px;
			height: 420px;

			> div {
				height: 105px;
				padding: 11px 8px 0;
				font-size: 0;

				&:nth-child(2n) {
					background: rgba(0,0,0,.0125);
				}

				&:not(:first-child) {
					border-top: 1px solid rgba(255,255,255,.375);
				}

				&:not(:last-child) {
					border-bottom: 1px solid rgba(0,0,0,.085);
				}
			}

			.section {
				//background: rgba(0,0,0,0.1);
				display: inline-block;
				width: 77px;
				margin: 0 0 0 3px;
				padding: 3px 0 2px 0;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;

				.icon {
					//background: rgba(0,0,0,0.1);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 100%;
					display: inline-block;
					width: 44px;
					height: 44px;
					border-radius: 3px;
					filter: drop-shadow(0 2px 1px rgba(0,0,0,.15));
					pointer-events: none;
				}

				.name {
					display: inline-block;
					margin-top: 5px;
					height: 31px;
					width: inherit;
					font-size: 12px;
					line-height: 1.25;
					opacity: .75;
				}
			}
		}

		&[data-view="general"] {
			width: 673px;
			height: 431px;
			display: flex;
			flex-direction: column;

			.row-body {
				.panel-left {
					width: 157px;
					padding: 0;

					.option {
						position: relative;
						padding: 5px 5px;
						margin-bottom: 2px;

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.name {
							display: block;
							padding: 1px 0 3px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {
					.tab-active_ {
						flex-direction: column;
					}
					.row-group_ {
						width: 100%;

						> div {
							display: flex;

							> div {
								display: inline-block;
							}
						}
					}
				}
			}

			.theme-preview {
				display: inline-block;
				position: relative;
				width: 83px;
				height: 43px;
				margin: 0 11px 29px 0;
				border-radius: 4px;
				cursor: pointer;

				&:after {
					content: attr(data-name);
					position: absolute;
					bottom: -21px;
					left: -3px;
					right: -3px;
					text-align: center;
					color: #aaa;
					pointer-events: none;
				}

				&:hover {
					div {
						box-shadow: 0 0 0 1px #999999cc,
									0 0 0 4px #99999988;
					}
				}

				&.active {
					cursor: default;

					&:after {
						color: #555;
					}

					div {
						box-shadow: 0 0 0 1px #3182facc,
									0 0 0 4px #3182fa88;
					}
				}

				div {
					background-size: 150% auto;
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 100%;
					height: 100%;
					border-radius: inherit;
					pointer-events: none;
					box-shadow: 0 0 0 1px rgba(0,0,0,.25);
				}
			}
		}

		&[data-view="desktop"] {
			width: 663px;
			height: 448px;

			.tab-body_ .tab-active_ {
				display: block;
			}

			.reel {
				height: 107px;
				padding-top: 7px;
				margin-bottom: 13px;
				font-size: 0;

				&.wide {
					.workspace-wide {
						display: block;
					}

					.workspace {
						display: none;
					}
				}

				&[data-ws="1"] {
					.workspace[data-id="ws-2"],
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="2"] {
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="3"] {
					.workspace[data-id="ws-add"] {
						opacity: 0;
						pointer-events: none;
						transition: width 50ms ease;
					}
				}

				.workspace-wide,
				.workspace {
					background-color: rgba(0,0,0,.075);
					border: 1px solid rgba(0,0,0,.075);
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 0px 17px 0 0;
					border-radius: 3px;
					transition: width 200ms ease,
								margin-right 200ms ease;

					&[data-id="ws-add"] {
						opacity: 1;
						transition: opacity 200ms ease 100ms;
					}

					&:hover {
						i.icon-times {
							opacity: 1;
							visibility: visible;
						}
					}

					&.active {
						&:before {
							content: "";
							position: absolute;
							top: -3px;
							left: -3px;
							right: -3px;
							bottom: -3px;
							border-radius: 4px;
							box-shadow: 0 0 0 3px #3182fa88;
						}
						
						&:after {
							color: #555;
							opacity: 1;
							visibility: visible;
						}
					}

					&:after {
						opacity: 0;
						visibility: hidden;
						content: attr(data-name);
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						padding: 2px 0;
						margin-top: 7px;
						text-align: center;
						border-radius: 20px;
						font-size: 12px;
						color: #999;
						transition: all 120ms;
					}

					div {
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						position: absolute;
						top: 3px;
						left: 3px;
						right: 3px;
						bottom: 3px;
						border-radius: 2px;
						pointer-events: none;
					}

					i.icon-times {
						opacity: 0;
						visibility: hidden;
						background: #f5f5f5;
						position: absolute;
						top: -7px;
						right: -7px;
						width: 16px;
						height: 16px;
						cursor: pointer;
						border-radius: 50%;
						transition: opacity 120ms;
						box-shadow: 0 0 1px rgba(0,0,0,.3),
									0 2px 3px rgba(0,0,0,.35);

						&:after {
							content: "";
							background: url(~/icons/icon-times.png) 50% 50%/contain no-repeat;
							//background-size: 75% auto;
							position: absolute;
							top: 3px;
							left: 3px;
							width: 10px;
							height: 10px;
							opacity: .4;
						}
					}

					&[data-id="ws-add"] {
						cursor: pointer;

						&:hover div {
							filter: opacity(0.4) drop-shadow(0px 1px 0px #fff);
						}

						div {
							background-image: url(~/icons/icon-add.png);
							background-size: auto 50%;
							filter: opacity(0.3) drop-shadow(0px 1px 0px #eee);
						}
					}
				}

				.workspace-wide {
					display: none;
					width: 211px;
				}
			}

			.list {
				position: relative;
				padding: 1px 3px 9px;

				&.wide-wp .bg-preview {
					width: 186px;
					height: 67px;
				}

				.bg-preview {
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					box-shadow: inset 0 0 0 1px rgba(200,200,200,.1);
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 11px 11px 3px;
					border-radius: 3px;

					&.active:before {
						content: "";
						position: absolute;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						border-radius: 4px;
						box-shadow: 0 0 0 3px #3182fa88;
					}
				}
			}
		}

		&[data-view="dock"] {
			width: 590px;
			height: 360px;
		}

		&[data-view="cloudStorage"] {
			width: 659px;
			height: 448px;
			padding-top: 21px;
			display: flex;
			flex-direction: column;

			.row-body {
				.panel-left {
					display: flex;
					flex-direction: column;
					padding: 0;

					.storage-list {
						padding-top: 5px;
						flex: 1;

						legend {
							padding: 3px 5px;
							margin-bottom: 3px;
							font-size: 12px;
							color: #aaa;
							pointer-events: none;

							&:not(:first-child) {
								margin-top: 13px;
							}

							&.hidden {
								display: none;
							}
						}

						> div {
							&.active {
								background: #1067de;
								color: #fff;

								i[class^="icon-"]:not(.icon-storage) {
									filter: grayscale() brightness(5);
								}
								.size {
									color: #8bf;
								}
								i.icon-house {
									filter: drop-shadow(0 0 1px #fff);
								}
							}

							&:not(.active):not(.storage-options) {
								cursor: pointer;

								&:hover {
									background: #f2f2f2;
								}
							}
						}
					}

					.storage {
						position: relative;
						padding: 5px 5px 5px 43px;
						margin-bottom: 7px;

						i[class^="icon-"] {
							background: url(~/icons/icon-cloud-storage.png) 50% 50%/contain no-repeat;
							position: absolute;
							top: 4px;
							left: 6px;
							width: 30px;
							height: 30px;
							pointer-events: none;

							&.icon-new-storage  { background-image: url(~/icons/icon-new-storage.png); }
							&.icon-google-drive { background-image: url(~/icons/icon-google-drive.png); }
							&.icon-dropbox      { background-image: url(~/icons/icon-dropbox.png); }
							&.icon-pcloud       { background-image: url(~/icons/icon-pcloud.png); }
							&.icon-box          { background-image: url(~/icons/icon-box.png); }
						}

						.name {
							display: block;
							padding: 1px 0 2px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;

							&:after {
								content: "";
								display: inline-block;
							}
						}

						.size {
							display: block;
							color: #999;
							font-weight: 400;
							font-size: 11px;
							pointer-events: none;
						}
					}

					.storage-options {
						background: #f6f6f6;
						height: 25px;
						border-top: 1px solid #ddd;
						border-radius: 0 0 3px 3px;
						display: flex;

						.option-button {
							border-right: 1px solid #ddd;
							padding: 5px 6px;
							cursor: pointer;

							&:hover i {
								opacity: .65;
							}

							&.disabled {
								cursor: default;

								i {
									opacity: .15;
								}
							}
						}

						.icon-plus,
						.icon-minus {
							background: url(~/icons/icon-plus.png) 50% 50%/contain no-repeat;
							display: inline-block;
							width: 13px;
							height: 13px;
							opacity: .35;

							&.icon-minus {
								background-image: url(~/icons/icon-minus.png);
							}
						}
					}
				}

				.panel-right {
					.tab-active_ {
						flex-direction: column;

						&.connecting {

							.row-status {
								.indicator {
									display: none;
								}

								.conn-working { display: inline-block; }
								.conn-true,
								.conn-false { display: none; }

								button {
									display: none;
								}
							}
						}

						&.connected {
							.row-status {
								.indicator {
									background: #393;
									box-shadow: 0 0 0;
								}

								.conn-true { display: inline-block; }
								.conn-working,
								.conn-false { display: none; }

								button {
									display: none;
								}
							}

							.storage-type {
								display: none;
							}

							.disc-usage {
								display: block;

								.file-count {
									float: right;
									font-style: italic;
									font-size: 11px;
									padding-top: 1px;
								}
							}
						}

						.icon-info {
							margin-right: 3px;
						}
					}

					.row-group_ {
						width: 317px;

						> div {
							display: flex;

							> div {
								position: relative;
								display: inline-block;
								padding: 3px;

								&:nth-child(1) {
									width: 23%;
									text-align: right;
									padding: 3px 7px 0 0;
								}

								&:nth-child(2) {
									width: 220px;
								}

								input,
								selectbox {
									position: relative;
									top: -3px;
								}
							}

							&.row-status {
								.indicator {
									background: transparent;
									position: relative;
									top: 1px;
									vertical-align: baseline;
									display: inline-block;
									width: 11px;
									height: 11px;
									border-radius: 50%;
									margin-right: 5px;
									box-shadow: 0 0 0 1px rgba(0,0,0,.2),
												inset 0 0 0 1px rgba(0,0,0,.2);
								}

								.conn-working,
								.conn-true { display: none; }
								.conn-false { display: inline-block; }

								.conn-working {
									padding-left: 16px;

									.loading {
										position: absolute;
										top: 3px;
										left: 0;
										height: 13px;
										width: 13px;
									}
								}

								button {
									position: absolute;
									top: -2px;
									right: 0;
									width: 79px;
								}
							}
						}

						&.disc-usage {
							display: none;

							.disc-bar + span {
								font-size: 12px;
								color: #888;
							}

							.disc-bar {
								background: #e9e9e9;
								position: relative;
								border-radius: 3px;
								margin: -3px 0 5px;
								width: 100%;
								height: 17px;
								padding: 0;
								font-size: 0;
								// overflow: hidden;
								display: flex;
								flex-direction: row;
								box-shadow: 0 0 0 1px rgba(0,0,0,.25),
											0 2px 0 rgba(255,255,255,.4);

								&:after {
									content: "";
									position: absolute;
									top: 1px;
									left: 1px;
									right: 1px;
									bottom: 0;
									pointer-events: none;
									border-radius: 2px;
									box-shadow: inset 0 -13px 7px rgba(0,0,0,.1),
												inset 1px 1px 1px rgba(255,255,255,.15);
								}

								div {
									position: relative;
									max-width: 0;
									animation: discSize 600ms 300ms linear forwards;

									&:nth-child(1) {
										border-radius: 3px 0 0 3px;
									}

									&[style*="width: 0.0"]:nth-child(1) + div,
									&[style^="width: 0.0"]:nth-child(1) + div {
										border-radius: 3px 0 0 3px;
									}

									&:hover span {
										visibility: visible;
										animation: pop 130ms linear forwards;
									}

									span {
										opacity: 0;
										visibility: hidden;
										display: block;
										background: #f5f5f5;
										position: absolute;
										top: -31px;
										left: 50%;
										padding: 6px 11px 5px;
										font-size: 13px;
										white-space: nowrap;
										border-radius: 5px;
										filter: drop-shadow(0 2px 3px rgba(0,0,0,.35));

										&:before {
											content: "";
											position: absolute;
											top: 100%;
											left: 50%;
											width: 0;
											height: 0;
											border-left: 7px solid transparent;
											border-right: 7px solid transparent;
											border-top: 7px solid #f5f5f5;
											margin-left: -7px;
										}
									}
								}
							}
						}
					}
				}
			}
		}


		&[data-view="usersGroups"] {
			width: 659px;
			height: 448px;
			padding-top: 21px;
			display: flex;
			flex-direction: column;

			.panel-left {
				legend {
					padding: 3px 5px;
					margin-bottom: 3px;
					font-size: 12px;
					color: #aaa;
					pointer-events: none;

					&:not(:first-child) {
						margin-top: 13px;
					}
				}

				> div {
					&.active {
						background: #1067de;
						color: #fff;

						.avatar {
							box-shadow: inset 0 0 0 1px rgba(#8bf,.35);
						}

						.role {
							color: #8bf;
						}

						i.icon-house {
							filter: drop-shadow(0 0 1px #fff);
						}
					}

					&:not(.active) {
						cursor: pointer;

						&:hover {
							background: #f2f2f2;
						}
					}
				}

				.user {
					position: relative;
					padding: 5px 5px 5px 43px;
					margin-bottom: 7px;

					.avatar {
						background: #fff url(~/icons/user.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 4px;
						left: 7px;
						width: 29px;
						height: 29px;
						border-radius: 50%;
						box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
						pointer-events: none;
					}

					.name {
						display: block;
						padding: 1px 0 2px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						pointer-events: none;
					}

					.role {
						display: block;
						color: #aaa;
						font-weight: 100;
						font-size: 11px;
						pointer-events: none;
					}
				}

				.login-options {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 5px 5px 2px 43px;
					height: 37px;
					border-top: 1px solid #ddd;
					border-radius: 0 0 0 3px;
					cursor: pointer;

					.icon-house {
						background: url(~/icons/home.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 6px;
						left: 9px;
						width: 23px;
						height: 23px;
						filter: grayscale(1);
						pointer-events: none;
					}

					span {
						display: block;
						padding: 8px 0 0;
						pointer-events: none;
					}
				}
			}

			.panel-right {
				.tab-active_ {
					&.show-user-options .user-options,
					&.show-login-options .login-options {
						display: block;
					}
				}

				.user-options {
					display: none;
					width: 100%;

					.user {
						height: 83px;
						display: flex;

						.avatar {
							background: #eee url(~/icons/user.png) 50% 50%/contain no-repeat;
							position: relative;
							width: 63px;
							height: 63px;
							display: inline-block;
							border-radius: 50%;
							cursor: pointer;
							transition: box-shadow 150ms ease;
							box-shadow: 0 0 0 0 rgba(0,0,0,.1),
										inset 0 0 0 1px rgba(0,0,0,.1),
										inset 0 3px 3px rgba(0,0,0,.35);

							&.disabled_ {
								cursor: default;
								box-shadow: 0 0 0 1px rgba(0,0,0,.1),
											inset 0 -2px 1px rgba(0,0,0,.25),
											inset 0 2px 1px rgba(255,255,255,.5),
											0 2px 1px rgba(255,255,255,.75),
							}

							&:hover:not(.disabled_) {
								box-shadow: 0 0 0 7px rgba(0,0,0,.1),
											inset 0 0 0 1px rgba(0,0,0,.1),
											inset 0 3px 3px rgba(0,0,0,.35);

								&:after {
									display: block;
								}
							}

							&:after {
								display: none;
								content: attr(data-hover);
								position: absolute;
								left: 7px;
								right: 7px;
								bottom: 7px;
								color: #fff;
								font-size: 11px;
								font-weight: 500;
								text-align: center;
								text-shadow: 0 1px 3px #000;
							}
						}

						.name {
							flex: 1;
							padding: 17px 0 0 11px;
							color: #111;
						}

						.button {
							width: 139px;
							padding: 13px 0 0;
						}
					}
				}

				.login-options {
					display: none;

					.row-group_ {
						width: auto;
					}

					.legend-select {
						display: flex;

						> div {
							display: inline-block;

							&:first-child {
								padding: 4px 7px 0 0;
							}
						}
					}
				}
			}
		}

		&[data-view="dateTime"] {
			width: 673px;
			height: 487px;
			display: flex;
			flex-direction: column;

			.row-body {
				// height: 100%;
			}

			.date-time-options.tab-active_ {
				text-align: center;
				display: block;
			}

			.time-zone-options {
				flex-direction: column;
				text-align: center;

				.worldmap-land {
					position: relative;
					width: 540px;
					height: 300px;
					margin: 13px auto;

					&.disabled_ {
						.land {
							opacity: .8;
						}

						.utc-bar.active {
							filter: none;
						}
					}

					svg {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}

					.land {
						fill: url(#WMGID_1_);
						filter: url(#WMDS_1);
					}

					.utc-bar {
						fill: #fff;
						stroke: #000;
						opacity: 0;

						&.active {
							opacity: 0.5;
							stroke-width: 0.5;
							filter: url(#UTCDS);
						}
					}

					&:not(.disabled_) .utc-bar:not(.active):hover {
						opacity: 0.45;
						stroke-width: 0.35;
					}
				}

				.selected-timezone {
					.field-name {
						color: #888;
					}

					.timezone-name {

					}

					.timezone-utc {
						display: inline-block;
						//display: none;
						color: #aaa;
						padding-left: 3px;

						&:before { content: "["; }
						&:after { content: "]"; }
					}
				}
			}

			.clock-options {
				flex-direction: column;
			}

			.date-settings,
			.time-settings {
				//background: rgba(0,0,0,.15);
				display: inline-block;
				width: 240px;
				height: 337px;
				padding: 21px 0 0;
				text-align: center;
				vertical-align: top;

				.date-sample,
				.time-sample {
					height: 43px;

					&.disabled_ {

					}

					.inc-arrows_ {
						background: #fff;
						position: relative;
						top: 2px;
						width: 13px;
						height: 22px;
						display: inline-block;
						vertical-align: top;
						border: 1px solid #ccc;
						border-radius: 7px;

						&.disabled_ {
							background: #f2f2f2;
							border-color: #d2d2d2;

							i {
								cursor: default;

								&:after { filter: brightness(3.5); }
							}
						}

						&:not(.disabled_) {
							i {
								&:active {
									border-color: #1067de;
									background: #1067dec0;

									&:after {
										filter: brightness(5);
									}
								}
							}
						}

						i {
							position: absolute;
							top: 10px;
							left: -1px;
							width: 13px;
							height: 11px;
							cursor: pointer;
							border-radius: 0 0 7px 7px;
							border: 1px solid transparent;
							
							&:after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 1px;
								left: 2px;
								width: 7px;
								height: 7px;
								background: url(~/icons/icon-chevron-down.png) 50% 50%/contain no-repeat;
								filter: brightness(1.25);
							}

							&:nth-child(1) {
								top: -1px;
								border-bottom: 0;
								border-radius: 7px 7px 0 0;

								&:after {
									top: 2px;
									transform: rotate(180deg);
								}
							}

							&:nth-child(2) {
								border-top: 0;
							}
						}
					}

					.wrapper {
						background: #fff;
						display: inline-block;
						border: 1px solid #ccc;
						border-radius: 3px;
						padding: 3px 0;
						font-size: 0;
						width: 107px;

						&.active:not(.disabled_) {
							border-color: #69d;
							box-shadow: 0 0 0 3px #3366dd4a;
						}

						&.disabled_ {
							background: #f2f2f2;
							color: #666;

							span,
							span.selected {
								background: transparent;
								color: inherit;
							}
						}

						span {
							display: inline-block;
							padding: 3px 1px 2px;
							font-size: 13px;
							border-radius: 2px;

							&.selected {
								background: #1067de;
								color: #fff;
							}
						}

						.seperator:before {
							content: "-";
							display: inline-block;
							margin: 0 -1px;
						}
					}
				}

				.time-sample {
					.wrapper {
						width: 89px;

						.seperator:before {
							content: ":";
						}
					}
				}
			}

			.calendar {
				background: #fff;
				display: inline-block;
				width: 222px;
				height: 190px;
				border: 1px solid #ccc;
				border-radius: 3px;

				&.disabled_ {
					background: #f2f2f2;
					border-color: #d5d5d5;

					.calendar-head {
						.calendar-left,
						.calendar-right {
							display: none;
						}
					}

					.month {
						span {
							cursor: default;

							&.active {
								background: #aaa;
								color: #fff;
							}

							&:hover:not(.active) {
								background: transparent;
							}
						}
					}
				}

				.calendar-head {
					padding: 7px 3px 3px;
					display: flex;

					.calendar-left,
					.calendar-right {
						background: url(~/icons/icon-chevron-left.png) 50% 50%/contain no-repeat;
						position: relative;
						width: 11px;
						height: 11px;
						cursor: pointer;
						filter: brightness(3);

						&.calendar-right {
							background-image: url(~/icons/icon-chevron-right.png);
						}

						&:before {
							content: "";
							position: absolute;
							top: -3px;
							left: -3px;
							right: -3px;
							bottom: -3px;
							background: transparent;
						}
					}

					.calendar-month {
						flex: 1;
						padding-top: 2px;
						font-size: 14px;
						font-weight: 400;
						text-align: center;
						color: #777;
					}
				}


				b {
					display: inline-block;
					width: 14%;
					font-weight: 500;
					font-size: 12px;
					text-align: center;
					padding: 5px 0;

					i {
						position: relative;
						z-index: 1;
						font-style: normal;
					}
				}

				.weekdays {
					font-size: 0;
					color: #888;
					padding: 3px 1px 0px;
					margin-bottom: 3px;
					// text-transform: uppercase;

					b {
						font-weight: 400;
						font-size: 12px;
					}
				}

				.days {
					font-size: 0;
					padding: 0 1px;

					b {
						&.weekend {
							color: #e77;
						}

						&.non-day {
							color: #c2c2c2;
							font-weight: 300;
							text-shadow: 0 0 0;
						}

						&.today {
							position: relative;
							color: #fff;

							&:before {
								content: "";
								background: #1067de;
								position: absolute;
								top: 0;
								right: auto;
								left: 50%;
								width: 21px;
								height: 21px;
								border-radius: 50%;
								margin-left: -10.5px;
							}
						}
					}
				}
			}

			.clock {
				background: linear-gradient(0deg, #ccc, #eee);
				display: inline-block;
				position: relative;
				top: 23px;
				width: 137px;
				height: 137px;
				border: 1px solid #bbb;
				border-radius: 50%;
				box-shadow: 0 1px 3px rgba(0,0,0,.15);

				&.disabled_:before { background: #f2f2f2; }

				&:before {
					content: "";
					position: absolute;
					top: 7px;
					left: 7px;
					right: 7px;
					bottom: 7px;
					border-radius: 50%;
					background: #fff;
					box-shadow: inset 0 1px 1px #bababa,
								inset 0 -1px 1px #b5b5b5,
								inset 0 2px 5px rgba(0,0,0,.15);
				}

				svg {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 127px;
					height: 127px;
					border-radius: 50%;
					--rotation-hours: 0deg;
					--rotation-minutes: 0deg;
					--rotation-seconds: 0deg;
					--stroke-hour: 17px;
					--stroke-minute: 11px;
					--stroke-second: 5px;
					--color-1: #555;
					--color-2: #f00;
					--color-3: #aaa;
				}
			}

			/*
			p {
				padding: 10px 0;
				text-align: center;
				line-height: 1.25;
			}
			.worldmap {
				//background: rgba(0,0,0,0.1);
				height: 320px;
				width: 100%;
			}
			*/
		}

		&[data-view="language"] {
			width: 599px;
			height: 409px;
			display: flex;
			flex-direction: column;

			.row-body {
				.panel-left {
					padding: 0;

					.option {
						position: relative;
						padding: 5px 5px;
						margin-bottom: 2px;

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.name {
							display: block;
							padding: 1px 0 3px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {
					.tab-active_ {
						flex-direction: column;
					}
					.row-group_ {
						width: 317px;
						padding: 1px 0 7px;

						> div {
							display: flex;

							> div {
								display: inline-block;

								&:first-child {
									width: 37%;
									text-align: right;
									padding: 4px 7px 0 0;
								}
							}
						}
					}
				}
			}
		}

		&[data-view="notifications"] {
			width: 631px;
			height: 463px;
			display: flex;
			flex-direction: column;

			.tab-body_ > div {
				.panel-left {
					width: 199px;
					padding: 0;

					.option {
						position: relative;
						padding: 4px 5px 5px 41px;
						margin-bottom: 2px;

						&:first-child {
							border-radius: 2px 0 0 0;
						}

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.icon,
						.avatar {
							position: absolute;
							top: 4px;
							left: 5px;
							width: 29px;
							height: 29px;
							background: rgba(0,0,0,.15);
						}

						.avatar {
							border-radius: 50%;
						}

						.name {
							display: block;
							padding: 1px 0 3px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {

				}
			}
		}

		.row-head {
			padding: 7px 0 17px;
			line-height: 1.45;
			text-align: left;
		}

		.tab-body_ .tab-active_,
		.row-body {
			flex: 1;
			display: flex;

			.panel-left {
				position: relative;
				background: #fff;
				width: 173px;
				padding-top: 5px;
				margin-top: 2px;
				margin-right: 11px;
				border: 1px solid #ccc;
				border-radius: 3px;

				.option:nth-child(1) {
					border-radius: 2px 2px 0 0;
				}
			}

			.panel-right {
				flex: 1;
				padding-top: 13px;
			}

			> .tab-view_ {
				flex: 1;
			}
		}

		.row-foot {
			position: relative;
			height: 41px;
			padding-top: 5px;
			margin-top: 7px;
			text-align: left;

			.unlock-to-edit {
				display: inline-block;
				cursor: pointer;

				&:hover {
					i.icon-padlock {
						background: #e7e7e7;
						box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
					}
				}

				&.unlocked {
					i.icon-padlock:before {
						background-image: url(~/icons/icon-padlock-open.png);
					}

					span {
						&.authenticating,
						&.locked { display: none; }
						&.unlocked { display: inline-block; }
					}
				}
				
				&.authorizing {
					span {
						&.unlocked,
						&.locked { display: none; }
						&.authenticating { display: inline-block; }
					}
				}

				i.icon-padlock {
					position: relative;
					width: 37px;
					height: 37px;
					display: inline-block;
					vertical-align: middle;
					border-radius: 3px;

					&:before {
						content: "";
						position: absolute;
						top: 3px;
						left: 3px;
						width: 31px;
						height: 31px;
						background: url(~/icons/icon-padlock.png) 50% 50%/contain no-repeat;
						filter: drop-shadow(0px 1px 1px rgba(0,0,0,.2));
					}
				}

				span {
					position: relative;
					top: 2px;
					color: #777;

					&.locked { display: inline-block; }
					&.unlocked,
					&.authenticating { display: none; }
				}
			}

			.section-help {
				background: #f5f5f5;
				position: absolute;
				top: 12px;
				right: 5px;
				width: 19px;
				height: 19px;
				padding: 3px 0 0 3px;
				cursor: pointer;
				border-radius: 50%;
				box-shadow: 0 0 0 1px rgba(0,0,0,.1),
							0 1px 3px rgba(0,0,0,.35);

				.icon-help {
					background-size: contain;
					display: inline-block;
					width: 13px;
					height: 13px;
					opacity: .65;
				}
			}
		}

		.sample {
			display: flex;
			justify-content: space-between;
			height: 230px;

			.tree {
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 3px 0 0 3px;
				width: 173px;
				overflow-y: auto;
				overflow-x: hidden;

				.tree-item {
					height: 19px;
					margin-bottom: 1px;
					padding: 1px 0 0 5px;
					white-space: nowrap;
					overflow: hidden;

					&.active {
						background: #1067de;
						color: #fff;
					}

					.icon {
						background-position: 50% 50%;
						background-size: contain;
						background-repeat: no-repeat;
						vertical-align: top;
						width: 17px;
						height: 17px;
						margin-right: 3px;
						pointer-events: none;

						&.color-wheel {
							margin: 1px 4px 0 1px;
							width: 15px;
							height: 15px;
						}
					}
					span {
						display: inline-block;
						padding-top: 3px;
						pointer-events: none;
					}
				}
			}

			.list {
				width: calc(100% - 177px);
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 0 3px 3px 0;
				overflow-y: auto;
				overflow-x: hidden;
				font-size: 0;
			}
		}
	}
}

.loading.paused { display: none; }
.loading:not(.paused) {
	display: inline-block;
	height: 16px;
	width: 16px;
	transform-origin: center center;
	animation: rotate 2.5s linear infinite;

	.loader-path {
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -10;
		stroke-linecap: round;
		stroke: #888;
		stroke-width: 5px;
		fill: none;
		animation: dash 1.5s ease-in-out infinite;
	}
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@keyframes dash {
	0%   { stroke-dasharray: 1, 200;  stroke-dashoffset: 0; }
	50%  { stroke-dasharray: 89, 200; stroke-dashoffset: -35; }
	100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124; }
}

@keyframes pop {
	0%   { transform: translateX(-50%) translateY(15px) scale(.25); opacity: 0; }
	91%  { transform: translateX(-50%) translateY(-3px) scale(1.1); opacity: 1; }
	100% { transform: translateX(-50%) translateY(0px) scale(1); opacity: 1; }
}

@keyframes discSize {
  0%   { max-width: 0; }
  100% { max-width: 250px; }
}

