
background: linear-gradient(to bottom, #ececec, #e0dfe4);
transition: all 200ms;

content {
	user-select: none;
	color: #333;

	.icon-info    { background-image: url(~/icons/icon-info.png); }
	.icon-warning { background-image: url(~/icons/icon-warning.png); }
	
	.link         {
		color: #1067de;
		cursor: pointer;
	}

	.nowrap {
		white-space: nowrap;

		button {
			width: 70px;
		}
	}

	.field-wrapper {
		width: 70px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 3px;
	}

	.row-group_ {
		width: 442px;
		margin: 0 auto;

		.cell {
			display: inline-block;
			text-align: center;
			min-width: 53px;

			label {
				display: block;
			}

			&.flat {
				label {
					display: inline-block;
					padding-right: 37px;
				}
			}
		}
	}

	section {
		position: absolute;
		top: 0;
		left: 0;
		width: 579px;
		height: 420px;
		padding: 13px 13px;
		opacity: 0;
		visibility: hidden;
		transition: opacity, 200ms;

		&.active {
			position: static;
			opacity: 1;
			visibility: visible;
		}

		&[data-view="main"] {
			padding: 0;
			width: 579px;
			height: 420px;

			> div {
				height: 105px;
				padding: 11px 8px 0;
				font-size: 0;

				&:nth-child(2n) {
					background: rgba(0,0,0,.0125);
				}

				&:not(:first-child) {
					border-top: 1px solid #ededed;
				}

				&:not(:last-child) {
					border-bottom: 1px solid #d8d8d8;
				}
			}

			.section {
				//background: rgba(0,0,0,0.1);
				display: inline-block;
				width: 77px;
				margin: 0 0 0 3px;
				padding: 3px 0 2px 0;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;

				.icon {
					//background: rgba(0,0,0,0.1);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 100%;
					display: inline-block;
					width: 44px;
					height: 44px;
					border-radius: 3px;
					filter: drop-shadow(0 2px 1px rgba(0,0,0,.15));
					pointer-events: none;
				}

				.name {
					display: inline-block;
					margin-top: 5px;
					height: 31px;
					width: inherit;
					font-size: 12px;
					line-height: 1.25;
					color: #777;
				}
			}
		}

		&[data-view="general"] {
			width: 673px;
			height: 467px;
			display: flex;
			flex-direction: column;

			.row-body {
				.panel-left {
					width: 157px;
					padding: 0;

					.option {
						position: relative;
						padding: 5px 5px;
						margin-bottom: 2px;

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.name {
							display: block;
							padding: 1px 0 2px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-weight: 100;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {
					.tab-active_ {
						flex-direction: column;
					}
					.row-group_ {
						width: 100%;

						> div {
							display: flex;

							> div {
								display: inline-block;
							}
						}
					}
				}
			}

			.theme-preview {
				display: inline-block;
				position: relative;
				width: 83px;
				height: 43px;
				margin: 0 11px 29px 0;
				border-radius: 5px;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);

				&:after {
					content: attr(data-name);
					position: absolute;
					bottom: -21px;
					left: -3px;
					right: -3px;
					text-align: center;
					color: #aaa;
				}

				&.active {
					box-shadow: inset 0 0 0 1px #3182facc,
								0 0 0 3px #3182fa88;

					&:after {
						color: #555;
					}
				}
			}
		}

		&[data-view="desktop"] {
			width: 663px;
			height: 448px;

			.tab-body_ .tab-active_ {
				display: block;
			}

			.reel {
				height: 107px;
				padding-top: 7px;
				margin-bottom: 13px;
				font-size: 0;

				&.wide {
					.workspace-wide {
						display: block;
					}

					.workspace {
						display: none;
					}
				}

				&[data-ws="1"] {
					.workspace[data-id="ws-2"],
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="2"] {
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="3"] {
					.workspace[data-id="ws-add"] {
						opacity: 0;
						pointer-events: none;
						transition: width 50ms ease;
					}
				}

				.workspace-wide,
				.workspace {
					background-color: #d5d5d5;
					border: 1px solid #c6c6c6;
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 0px 17px 0 0;
					border-radius: 3px;
					transition: width 200ms ease,
								margin-right 200ms ease;

					&[data-id="ws-add"] {
						opacity: 1;
						transition: opacity 200ms ease 100ms;
					}

					&:hover {
						i.icon-times {
							opacity: 1;
							visibility: visible;
						}
					}

					&.active {
						&:before {
							content: "";
							position: absolute;
							top: -3px;
							left: -3px;
							right: -3px;
							bottom: -3px;
							border-radius: 4px;
							box-shadow: 0 0 0 3px #3182fa88;
						}
						&:after {
							color: #555;
							opacity: 1;
							visibility: visible;
						}
					}

					&:after {
						opacity: 0;
						visibility: hidden;
						content: attr(data-name);
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						padding: 2px 0;
						margin-top: 7px;
						text-align: center;
						border-radius: 20px;
						font-size: 12px;
						color: #999;
						transition: all 120ms;
					}

					div {
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						position: absolute;
						top: 3px;
						left: 3px;
						right: 3px;
						bottom: 3px;
						border-radius: 2px;
						pointer-events: none;
					}

					i.icon-times {
						opacity: 0;
						visibility: hidden;
						background: #f5f5f5;
						position: absolute;
						top: -7px;
						right: -7px;
						width: 16px;
						height: 16px;
						cursor: pointer;
						border-radius: 50%;
						transition: opacity 120ms;
						box-shadow: 0 0 1px rgba(0,0,0,.3),
									0 2px 3px rgba(0,0,0,.35);

						&:after {
							content: "";
							background: url(~/icons/icon-times.png) 50% 50% no-repeat;
							//background-size: 75% auto;
							position: absolute;
							top: 3px;
							left: 3px;
							width: 10px;
							height: 10px;
							opacity: .4;
						}
					}

					&[data-id="ws-add"] {
						cursor: pointer;

						&:hover div {
							filter: opacity(0.4) drop-shadow(0px 1px 0px #fff);
						}

						div {
							background-image: url(~/icons/icon-add.png);
							background-size: auto 50%;
							filter: opacity(0.3) drop-shadow(0px 1px 0px #eee);
						}
					}
				}

				.workspace-wide {
					display: none;
					width: 211px;
				}
			}
			.list {
				position: relative;
				padding: 1px 3px 9px;

				&.wide-wp .bg-preview {
					width: 186px;
					height: 67px;
				}

				.bg-preview {
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					box-shadow: inset 0 0 0 1px rgba(200,200,200,.1);
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 11px 11px 3px;
					border-radius: 3px;

					&.active:before {
						content: "";
						position: absolute;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						border-radius: 4px;
						box-shadow: 0 0 0 3px #3182fa88;
					}
				}
			}
		}

		&[data-view="dock"] {
			width: 590px;
			height: 360px;
		}

		&[data-view="cloudStorage"] {
			width: 659px;
			height: 448px;
			padding-top: 21px;
			display: flex;
			flex-direction: column;

			.panel-left {
				legend {
					padding: 3px 5px;
					margin-bottom: 3px;
					font-size: 12px;
					color: #aaa;
					pointer-events: none;

					&:not(:first-child) {
						margin-top: 13px;
					}
				}

				> div {
					&.active {
						background: #1067de;
						color: #fff;

						.avatar {
							box-shadow: inset 0 0 0 1px rgba(#8bf,.35);
						}
						.role {
							color: #8bf;
						}
						i.icon-house {
							filter: drop-shadow(0 0 1px #fff);
						}
					}

					&:not(.active) {
						cursor: pointer;

						&:hover {
							background: #f2f2f2;
						}
					}
				}
			}
		}


		&[data-view="usersGroups"] {
			width: 659px;
			height: 448px;
			padding-top: 21px;
			display: flex;
			flex-direction: column;

			.panel-left {
				legend {
					padding: 3px 5px;
					margin-bottom: 3px;
					font-size: 12px;
					color: #aaa;
					pointer-events: none;

					&:not(:first-child) {
						margin-top: 13px;
					}
				}

				> div {
					&.active {
						background: #1067de;
						color: #fff;

						.avatar {
							box-shadow: inset 0 0 0 1px rgba(#8bf,.35);
						}
						.role {
							color: #8bf;
						}
						i.icon-house {
							filter: drop-shadow(0 0 1px #fff);
						}
					}

					&:not(.active) {
						cursor: pointer;

						&:hover {
							background: #f2f2f2;
						}
					}
				}

				.user {
					position: relative;
					padding: 5px 5px 5px 43px;
					margin-bottom: 7px;

					.avatar {
						background: #eee url(~/icons/user.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 3px;
						left: 7px;
						width: 29px;
						height: 29px;
						border-radius: 50%;
						box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
						pointer-events: none;
					}

					.name {
						display: block;
						padding: 1px 0 2px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						pointer-events: none;
					}

					.role {
						display: block;
						color: #aaa;
						font-weight: 100;
						font-size: 11px;
						pointer-events: none;
					}
				}

				.login-options {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 5px 5px 2px 43px;
					height: 37px;
					border-top: 1px solid #ddd;
					border-radius: 0 0 0 3px;
					cursor: pointer;

					.icon-house {
						background: url(~/icons/home.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 6px;
						left: 9px;
						width: 23px;
						height: 23px;
						filter: grayscale(1);
						pointer-events: none;
					}

					span {
						display: block;
						padding: 8px 0 0;
						pointer-events: none;
					}
				}
			}

			.panel-right {
				.tab-active_ {
					&.show-user-options .user-options,
					&.show-login-options .login-options {
						display: block;
					}
				}

				.user-options {
					display: none;
					width: 100%;

					.user {
						height: 83px;
						display: flex;

						.avatar {
							background: #eee url(~/icons/user.png) 50% 50%/contain no-repeat;
							position: relative;
							width: 63px;
							height: 63px;
							display: inline-block;
							border-radius: 50%;
							cursor: pointer;
							transition: box-shadow 150ms ease;
							box-shadow: 0 0 0 0 rgba(0,0,0,.1),
										inset 0 0 0 1px rgba(0,0,0,.1),
										inset 0 3px 5px rgba(0,0,0,.35);

							&.disabled_ {
								cursor: default;
								box-shadow: 0 0 0 1px rgba(0,0,0,.1),
											inset 0 -2px 1px rgba(0,0,0,.25),
											inset 0 2px 1px rgba(255,255,255,.5),
											0 2px 1px rgba(255,255,255,.75),
							}

							&:hover:not(.disabled_) {
								box-shadow: 0 0 0 7px rgba(0,0,0,.1),
											inset 0 0 0 1px rgba(0,0,0,.1),
											inset 0 3px 5px rgba(0,0,0,.35);

								&:after {
									display: block;
								}
							}

							&:after {
								display: none;
								content: attr(data-hover);
								position: absolute;
								left: 7px;
								right: 7px;
								bottom: 7px;
								color: #fff;
								font-size: 11px;
								font-weight: 500;
								text-align: center;
								text-shadow: 0 1px 3px #000;
							}
						}
						.name {
							flex: 1;
							padding: 17px 0 0 11px;
							color: #111;
						}
						.button {
							width: 139px;
							padding: 13px 0 0;
						}
					}
				}

				.login-options {
					display: none;

					.row-group_ {
						width: auto;
					}

					.legend-select {
						display: flex;

						> div {
							display: inline-block;

							&:first-child {
								padding: 4px 7px 0 0;
							}
						}
					}
				}
			}
		}

		&[data-view="dateTime"] {
			width: 673px;
			height: 487px;
			display: flex;
			flex-direction: column;

			.row-body {
				height1: 100%;
			}

			.date-time-options.tab-active_ {
				text-align: center;
				display: block;
			}
			.time-zone-options {
				flex-direction: column;
				text-align: center;

				.worldmap {
					height: 293px;
					width: 100%;
					margin: 13px 0;

					&.disabled_ {
						.land {
							opacity: .8;
						}

						.utc-bar.active {
							filter: none;
						}
					}

					.land {
						fill: url(#WMGID_1_);
						filter: url(#WMDS_1);
					}

					.utc-bar {
						fill: #fff;
						stroke: #000;
						opacity: 0;
					}

					.utc-bar.active {
						opacity: 0.5;
						stroke-width: 0.5;
						filter: url(#UTCDS);
					}

					&:not(.disabled_) .utc-bar:not(.active):hover {
						opacity: 0.5;
						stroke-width: 0.35;
					}
				}

				.selected-timezone {
					.field-name {
						color: #888;
					}
					.timezone-name {

					}
					.timezone-utc {
						display: inline-block;
						//display: none;
						color: #aaa;
						padding-left: 3px;

						&:before { content: "["; }
						&:after { content: "]"; }
					}
				}
			}

			.clock-options {
				flex-direction: column;
			}

			.date-settings,
			.time-settings {
				//background: rgba(0,0,0,.15);
				display: inline-block;
				width: 240px;
				height: 337px;
				padding: 21px 0 0;
				text-align: center;
				vertical-align: top;

				.date-sample,
				.time-sample {
					height: 43px;

					&.disabled_ {

					}

					.inc-arrows_ {
						background: #fff;
						position: relative;
						top: 2px;
						width: 13px;
						height: 22px;
						display: inline-block;
						vertical-align: top;
						border: 1px solid #ccc;
						border-radius: 7px;

						&.disabled_ {
							background: #f2f2f2;
							border-color: #d2d2d2;

							i {
								cursor: default;

								&:after { filter: brightness(3.5); }
							}
						}

						&:not(.disabled_) {
							i {
								&:active {
									border-color: #1067de;
									background: #1067dec0;

									&:after {
										filter: brightness(5);
									}
								}
							}
						}

						i {
							position: absolute;
							top: 10px;
							left: -1px;
							width: 13px;
							height: 11px;
							cursor: pointer;
							border-radius: 0 0 7px 7px;
							border: 1px solid transparent;
							
							&:after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 1px;
								left: 2px;
								width: 7px;
								height: 7px;
								background: url(~/icons/icon-chevron-down.png) 50% 50%/contain no-repeat;
								filter: brightness(1.25);
							}

							&:nth-child(1) {
								top: -1px;
								border-bottom: 0;
								border-radius: 7px 7px 0 0;

								&:after {
									top: 2px;
									transform: rotate(180deg);
								}
							}

							&:nth-child(2) {
								border-top: 0;
							}
						}
					}

					.wrapper {
						background: #fff;
						display: inline-block;
						border: 1px solid #ccc;
						border-radius: 3px;
						padding: 3px 0;
						font-size: 0;
						width: 107px;

						&.active:not(.disabled_) {
							border-color: #69d;
							box-shadow: 0 0 0 3px #3366dd4a;
						}

						&.disabled_ {
							background: #f2f2f2;
							color: #666;

							span,
							span.selected {
								background: transparent;
								color: inherit;
							}
						}

						span {
							display: inline-block;
							padding: 3px 1px 2px;
							font-size: 13px;
							border-radius: 2px;

							&.selected {
								background: #1067de;
								color: #fff;
							}
						}

						.seperator:before {
							content: "-";
							display: inline-block;
							margin: 0 -1px;
						}
					}
				}
				.time-sample {
					.wrapper {
						width: 89px;

						.seperator:before {
							content: ":";
						}
					}
				}
			}

			.calendar {
				background: #fff;
				display: inline-block;
				width: 222px;
				height: 190px;
				border: 1px solid #ccc;
				border-radius: 3px;

				&.disabled_ {
					background: #f2f2f2;
					border-color: #d5d5d5;

					.calendar-head {
						.calendar-left,
						.calendar-right {
							cursor: default;
						}
					}

					.month {
						span {
							cursor: default;

							&.active {
								background: #eee;
								color: #555;
								box-shadow: inset 0 0 0 1px #bbb;
							}

							&:hover {
								background: transparent;
							}
						}
					}
				}

				.calendar-head {
					padding: 7px 3px 0;
					display: flex;

					.calendar-left,
					.calendar-right {
						background: url(~/icons/icon-chevron-left.png) 50% 50% no-repeat;
						width: 13px;
						cursor: pointer;
						filter: brightness(3);

						&.calendar-right {
							background-image: url(~/icons/icon-chevron-right.png);
						}
					}

					.calendar-month {
						flex: 1;
						padding-top: 2px;
						font-size: 13px;
						font-weight: 200;
						text-align: center;
						color: #777;
					}
				}

				.weekdays {
					position: relative;
					padding: 3px 0 1px;
					font-size: 0;
					display: block;
					
					&:before {
						content: "";
						position: absolute;
						left: 3px;
						right: 3px;
						bottom: 1px;
						height: 1px;
						background: #eee;
					}

					span {
						font-size: 12px;
						display: inline-block;
						width: calc( 14.285% - 1.5px );
						padding: 6px 0 5px;

						&:nth-child(7n - 1) { color: #777; }
						&:nth-child(7n) { color: #eaa; }
					}
				}

				.month {
					font-size: 0;
					text-align: center;
					//text-shadow: 0 1px 1px rgba(0,0,0,.15);

					span {
						//background: rgba(0,0,0,.05);
						display: inline-block;
						border-radius: 3px;
						margin: 0 1px 1px 0;
						font-size: 12px;
						width: calc( 14.285% - 1.5px );
						padding: 6px 0 4px;
						cursor: pointer;

						&.active {
							background: #1067de;
							color: #fff;
						}

						&:nth-child(7n - 1) { color: #777; }
						&:nth-child(7n) { color: #eaa; }

						&:nth-child(7n + 1) {
							margin-left: 1px;
						}

						&:nth-child(7n) {
							margin-right: 0;
						}

						&:hover {
							background: rgba(0,0,0,.1);
						}

						&.pm-day,
						&.nm-day {
							background: transparent;
							color: #eee;
							cursor: default;
						}
					}
				}
			}

			.clock {
				background: linear-gradient(0deg, #ccc, #eee);
				display: inline-block;
				position: relative;
				top: 23px;
				width: 137px;
				height: 137px;
				border: 1px solid #bbb;
				border-radius: 50%;
				box-shadow: 0 1px 3px rgba(0,0,0,.15);

				&.disabled_:before { background: #f2f2f2; }

				&:before {
					content: "";
					position: absolute;
					top: 7px;
					left: 7px;
					right: 7px;
					bottom: 7px;
					border-radius: 50%;
					background: #fff;
					box-shadow: inset 0 1px 1px #bababa,
								inset 0 -1px 1px #b5b5b5,
								inset 0 2px 5px rgba(0,0,0,.15);
				}

				svg {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 127px;
					height: 127px;
					border-radius: 50%;
					--rotation-hours: 45deg;
					--stroke-hour: 17px;
					--rotation-minutes: 282deg;
					--stroke-minute: 11px;
					--rotation-seconds: 122deg;
					--stroke-second: 5px;
					--color-1: #555;
					--color-2: #f00;
					--color-3: #aaa;
				}
			}

			/*
			p {
				padding: 10px 0;
				text-align: center;
				line-height: 1.25;
			}
			.worldmap {
				//background: rgba(0,0,0,0.1);
				height: 320px;
				width: 100%;
			}
			*/
		}

		&[data-view="language"] {
			width: 599px;
			height: 409px;
			display: flex;
			flex-direction: column;

			.row-body {
				.panel-left {
					padding: 0;

					.option {
						position: relative;
						padding: 5px 5px;
						margin-bottom: 2px;

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.name {
							display: block;
							padding: 1px 0 2px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-weight: 100;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {
					.tab-active_ {
						flex-direction: column;
					}
					.row-group_ {
						width: 317px;

						> div {
							display: flex;

							> div {
								display: inline-block;

								&:first-child {
									width: 37%;
									text-align: right;
									padding: 4px 7px 0 0;
								}
							}
						}
					}
				}
			}
		}

		&[data-view="notifications"] {
			width: 631px;
			height: 463px;
			display: flex;
			flex-direction: column;

			.tab-body_ > div {
				.panel-left {
					width: 199px;
					padding: 0;

					.option {
						position: relative;
						padding: 4px 5px 5px 41px;
						margin-bottom: 2px;

						&:first-child {
							border-radius: 2px 0 0 0;
						}

						&.active {
							background: #1067de;
							color: #fff;

							.info {
								color: #8bf;
							}
						}

						.icon,
						.avatar {
							position: absolute;
							top: 3px;
							left: 5px;
							width: 29px;
							height: 29px;
							background: rgba(0,0,0,.15);
						}

						.avatar {
							border-radius: 50%;
						}

						.name {
							display: block;
							padding: 1px 0 2px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							pointer-events: none;
						}

						.info {
							display: block;
							color: #aaa;
							font-weight: 100;
							font-size: 11px;
							pointer-events: none;
						}
					}
				}

				.panel-right {

				}
			}
		}

		.row-head {
			padding: 7px 0 17px;
			line-height: 1.45;
			text-align: left;
		}

		.tab-body_ .tab-active_,
		.row-body {
			flex: 1;
			display: flex;

			.panel-left {
				position: relative;
				background: #fff;
				width: 173px;
				padding-top: 5px;
				margin-top: 2px;
				margin-right: 11px;
				border: 1px solid #ccc;
				border-radius: 3px 0 0 3px;
			}

			.panel-right {
				flex: 1;
				padding-top: 13px;
			}

			> .tab-view_ {
				flex: 1;
			}
		}

		.row-foot {
			//background: #ccc;
			height: 43px;
			padding-top: 5px;
			margin-top: 7px;
			text-align: left;

			.unlock-to-edit {
				display: inline-block;
				cursor: pointer;

				&:hover {
					i.icon-padlock {
						background:  #e7e7e7;
						box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
					}
				}

				&.unlocked {
					i.icon-padlock:before {
						background-image: url(~/icons/icon-padlock-open.png);
					}
					span {
						&.authenticating,
						&.locked { display: none; }
						&.unlocked { display: inline-block; }
					}
				}
				
				&.authorizing {
					span {
						&.unlocked,
						&.locked { display: none; }
						&.authenticating { display: inline-block; }
					}
				}

				i.icon-padlock {
					position: relative;
					width: 37px;
					height: 37px;
					display: inline-block;
					vertical-align: middle;
					border-radius: 3px;

					&:before {
						content: "";
						position: absolute;
						top: 3px;
						left: 3px;
						width: 31px;
						height: 31px;
						background: url(~/icons/icon-padlock.png) 50% 50% no-repeat;
						filter: drop-shadow(0px 1px 1px rgba(0,0,0,.2));
					}
				}
				span {
					position: relative;
					top: 2px;
					color: #777;

					&.locked { display: inline-block; }
					&.unlocked,
					&.authenticating { display: none; }
				}
			}
		}

		.sample {
			display: flex;
			justify-content: space-between;
			height: 230px;

			.tree {
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 3px 0 0 3px;
				width: 173px;
				overflow-y: auto;
				overflow-x: hidden;

				.tree-item {
					height: 19px;
					margin-bottom: 1px;
					padding: 1px 0 0 3px;
					white-space: nowrap;
					overflow: hidden;

					&.active {
						background: #1067de;
						color: #fff;
					}

					.icon {
						background-position: 50% 50%;
						background-size: contain;
						background-repeat: no-repeat;
						vertical-align: top;
						width: 17px;
						height: 17px;
						margin-right: 3px;
						pointer-events: none;

						&.color-wheel {
							margin: 1px 4px 0 1px;
							width: 15px;
							height: 15px;
						}
					}
					span {
						display: inline-block;
						padding-top: 3px;
						pointer-events: none;
					}
				}
			}
			.list {
				width: calc(100% - 177px);
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 0 3px 3px 0;
				overflow-y: auto;
				overflow-x: hidden;
				font-size: 0;
			}
		}
	}
}
