
background: #ececec;
transition: all 200ms;

content {
	user-select: none;
	color: #333;

	.nowrap {
		white-space: nowrap;

		button {
			width: 70px;
		}
	}

	.field-wrapper {
		width: 70px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 3px;
	}

	.row-group_ {
		width: 442px;
		margin: 0 auto;

		.cell {
			display: inline-block;
			text-align: center;
			min-width: 53px;

			label {
				display: block;
			}
		}
	}

	section {
		position: absolute;
		top: 0;
		left: 0;
		width: 579px;
		height: 420px;
		padding: 13px 13px;
		opacity: 0;
		visibility: hidden;
		transition: opacity, 200ms;

		&.active {
			position: static;
			opacity: 1;
			visibility: visible;
		}

		&[data-view="main"] {
			padding: 0;
			width: 579px;
			height: 420px;

			> div {
				height: 105px;
				padding: 11px 8px 0;
				font-size: 0;

				&:nth-child(2n) {
					background: #e5e5e5;
				}

				&:not(:first-child) {
					border-top: 1px solid #efefef;
				}

				&:not(:last-child) {
					border-bottom: 1px solid #d4d4d4;
				}
			}

			.section {
				//background: rgba(0,0,0,0.1);
				display: inline-block;
				width: 77px;
				margin: 0 0 0 3px;
				padding: 3px 0 2px 0;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;

				.icon {
					//background: rgba(0,0,0,0.1);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 100%;
					display: inline-block;
					width: 44px;
					height: 44px;
					border-radius: 3px;
					filter: drop-shadow(0 2px 1px rgba(0,0,0,.15));
					pointer-events: none;
				}

				.name {
					display: inline-block;
					margin-top: 5px;
					height: 31px;
					width: inherit;
					font-size: 12px;
					line-height: 1.25;
					color: #777;
				}
			}
		}

		&[data-view="general"] {
			width: 579px;
			height: 448px;
		}

		&[data-view="desktop"] {
			width: 661px;
			height: 448px;

			.reel {
				height: 107px;
				padding-top: 7px;
				margin-bottom: 13px;
				font-size: 0;

				&.wide {
					.workspace-wide {
						display: block;
					}

					.workspace {
						display: none;
					}
				}

				&[data-ws="1"] {
					.workspace[data-id="ws-2"],
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="2"] {
					.workspace[data-id="ws-3"] {
						border: 0;
						width: 0;
						margin-right: 0;
					}
				}
				&[data-ws="3"] {
					.workspace[data-id="ws-add"] {
						opacity: 0;
						pointer-events: none;
						transition: width 50ms ease;
					}
				}

				.workspace-wide,
				.workspace {
					background-color: #d5d5d5;
					border: 1px solid #c6c6c6;
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 0px 17px 0 0;
					border-radius: 3px;
					transition: width 200ms ease,
								margin-right 200ms ease;

					&[data-id="ws-add"] {
						opacity: 1;
						transition: opacity 200ms ease 100ms;
					}

					&:hover {
						i.icon-times {
							opacity: 1;
							visibility: visible;
						}
					}

					&.active {
						&:before {
							content: "";
							position: absolute;
							top: -3px;
							left: -3px;
							right: -3px;
							bottom: -3px;
							border-radius: 4px;
							box-shadow: 0 0 0 3px #3182fa88;
						}
						&:after {
							color: #555;
							opacity: 1;
							visibility: visible;
						}
					}

					&:after {
						opacity: 0;
						visibility: hidden;
						content: attr(data-name);
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						padding: 2px 0;
						margin-top: 7px;
						text-align: center;
						border-radius: 20px;
						font-size: 12px;
						color: #999;
						transition: all 120ms;
					}

					div {
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						position: absolute;
						top: 3px;
						left: 3px;
						right: 3px;
						bottom: 3px;
						border-radius: 2px;
						pointer-events: none;
					}

					i.icon-times {
						opacity: 0;
						visibility: hidden;
						background: #f5f5f5;
						position: absolute;
						top: -7px;
						right: -7px;
						width: 16px;
						height: 16px;
						cursor: pointer;
						border-radius: 50%;
						transition: opacity 120ms;
						box-shadow: 0 0 1px rgba(0,0,0,.3),
									0 2px 3px rgba(0,0,0,.35);

						&:after {
							content: "";
							background: url(~/icons/icon-times.png) 50% 50% no-repeat;
							//background-size: 75% auto;
							position: absolute;
							top: 3px;
							left: 3px;
							width: 10px;
							height: 10px;
							opacity: .4;
						}
					}

					&[data-id="ws-add"] {
						cursor: pointer;

						&:hover div {
							filter: opacity(0.4) drop-shadow(0px 1px 0px #fff);
						}

						div {
							background-image: url(~/icons/icon-add.png);
							background-size: auto 50%;
							filter: opacity(0.3) drop-shadow(0px 1px 0px #eee);
						}
					}
				}

				.workspace-wide {
					display: none;
					width: 211px;
				}
			}
			.list {
				position: relative;
				padding: 1px 3px 9px;

				&.wide-wp .bg-preview {
					width: 186px;
					height: 67px;
				}

				.bg-preview {
					background-color: rgba(0,0,0,0.25);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					position: relative;
					display: inline-block;
					width: 116px;
					height: 74px;
					margin: 11px 11px 3px;
					border-radius: 3px;

					&.active:before {
						content: "";
						position: absolute;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						border-radius: 4px;
						box-shadow: 0 0 0 3px #3182fa88;
					}
				}
			}
		}

		&[data-view="dock"] {
			width: 590px;
			height: 360px;
		}

		&[data-view="usersGroups"] {
			width: 659px;
			height: 448px;
			padding-top: 21px;
			display: flex;
			flex-direction: column;

			.panel-left {
				legend {
					padding: 3px 5px;
					margin-bottom: 3px;
					font-size: 12px;
					color: #aaa;
					pointer-events: none;

					&:not(:first-child) {
						margin-top: 13px;
					}
				}

				> div {
					&.active {
						background: #1067de;
						color: #fff;

						.avatar {
							box-shadow: inset 0 0 0 1px rgba(#8bf,.35);
						}
						.role {
							color: #8bf;
						}
						i.icon-house {
							filter: drop-shadow(0 0 1px #fff);
						}
					}

					&:not(.active) {
						cursor: pointer;

						&:hover {
							background: #f2f2f2;
						}
					}
				}

				.user {
					position: relative;
					padding: 5px 5px 5px 43px;
					margin-bottom: 7px;

					.avatar {
						background: #eee url(~/icons/user.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 3px;
						left: 7px;
						width: 29px;
						height: 29px;
						border-radius: 50%;
						box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
						pointer-events: none;
					}

					.name {
						display: block;
						padding: 1px 0 2px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						pointer-events: none;
					}

					.role {
						display: block;
						color: #aaa;
						font-weight: 100;
						font-size: 11px;
						pointer-events: none;
					}
				}

				.login-options {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 5px 5px 2px 43px;
					height: 37px;
					border-top: 1px solid #ddd;
					border-radius: 0 0 0 3px;
					cursor: pointer;

					.icon-house {
						background: url(~/icons/home.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 6px;
						left: 9px;
						width: 23px;
						height: 23px;
						filter: grayscale(1);
						pointer-events: none;
					}

					span {
						display: block;
						padding: 8px 0 0;
						pointer-events: none;
					}
				}
			}

			.panel-right {
				.tab-active_ {
					&.show-user-options .user-options,
					&.show-login-options .login-options {
						display: block;
					}
				}

				.user-options {
					display: none;

					.user {
						height: 109px;
						display: flex;

						.avatar {
							background: #eee url(~/icons/user.png) 50% 50%/contain no-repeat;
							position: relative;
							width: 63px;
							height: 63px;
							display: inline-block;
							border-radius: 50%;
							cursor: pointer;
							transition: box-shadow 150ms ease;
							box-shadow: 0 0 0 0 rgba(0,0,0,.1),
										inset 0 0 0 1px rgba(0,0,0,.1),
										inset 0 3px 5px rgba(0,0,0,.35);

							&:hover {
								box-shadow: 0 0 0 7px rgba(0,0,0,.1),
											inset 0 0 0 1px rgba(0,0,0,.1),
											inset 0 3px 5px rgba(0,0,0,.35);

								&:after {
									display: block;
								}
							}

							&:after {
								display: none;
								content: attr(data-hover);
								position: absolute;
								left: 7px;
								right: 7px;
								bottom: 7px;
								color: #fff;
								font-size: 11px;
								font-weight: 500;
								text-align: center;
								text-shadow: 0 1px 3px #000;
							}
						}
						.name {
							flex: 1;
							padding: 17px 0 0 11px;
							color: #111;
						}
						.button {
							width: 139px;
							padding: 13px 0 0;
						}
					}
				}

				.login-options {
					display: none;

					.row-group_ {
						width: auto;
					}

					.legend-select {
						display: flex;

						> div {
							display: inline-block;

							&:first-child {
								padding: 5px 7px 0 0;
							}
						}
					}
				}
			}
		}

		&[data-view="dateTime"] {
			width: 659px;
			height: 520px;

			p {
				padding: 10px 0;
				text-align: center;
				line-height: 1.25;
			}

			.worldmap {
				//background: rgba(0,0,0,0.1);
				height: 320px;
				width: 100%;
			}
		}

		.row-body {
			flex: 1;
			display: flex;

			.panel-left {
				position: relative;
				background: #fff;
				width: 173px;
				padding-top: 5px;
				margin-right: 11px;
				border: 1px solid #ccc;
				border-radius: 3px 0 0 3px;
			}

			.panel-right {
				flex: 1;
				padding-top: 13px;
			}
		}

		.row-foot {
			//background: #ccc;
			height: 43px;
			padding-top: 5px;
			margin-top: 7px;

			.unlock-to-edit {
				display: inline-block;
				cursor: pointer;

				&:hover {
					i.icon-padlock {
						background:  #e7e7e7;
						box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
					}
				}

				&.unlocked {
					i.icon-padlock:before {
						background-image: url(~/icons/icon-padlock-open.png);
					}
					span {
						&.locked { display: none; }
						&.unlocked { display: inline-block; }
					}
				}

				i.icon-padlock {
					position: relative;
					width: 37px;
					height: 37px;
					display: inline-block;
					vertical-align: middle;
					border-radius: 3px;

					&:before {
						content: "";
						position: absolute;
						top: 3px;
						left: 3px;
						width: 31px;
						height: 31px;
						background: url(~/icons/icon-padlock.png) 50% 50% no-repeat;
						filter: drop-shadow(0px 1px 1px rgba(0,0,0,.2));
					}
				}
				span {
					position: relative;
					top: 2px;
					color: #777;

					&.locked { display: inline-block; }
					&.unlocked { display: none; }
				}
			}
		}

		.sample {
			display: flex;
			justify-content: space-between;
			height: 230px;

			.tree {
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 3px 0 0 3px;
				width: 173px;
				overflow-y: auto;
				overflow-x: hidden;

				.tree-item {
					height: 19px;
					margin-bottom: 1px;
					padding: 1px 0 0 3px;
					white-space: nowrap;
					overflow: hidden;

					&.active {
						background: #1067de;
						color: #fff;
					}

					.icon {
						background-position: 50% 50%;
						background-size: contain;
						background-repeat: no-repeat;
						vertical-align: top;
						width: 17px;
						height: 17px;
						margin-right: 3px;
						pointer-events: none;

						&.color-wheel {
							margin: 1px 4px 0 1px;
							width: 15px;
							height: 15px;
						}
					}
					span {
						display: inline-block;
						padding-top: 3px;
						pointer-events: none;
					}
				}
			}
			.list {
				width: calc(100% - 177px);
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 0 3px 3px 0;
				overflow-y: auto;
				overflow-x: hidden;
				font-size: 0;
			}
		}
	}
}
